In [1]:
import pandas as pd

In [8]:
air = pd.read_csv('product_airtime.csv')
air.head()

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
0,P150028635,2015-01-02,2015-01-02 01:33:02,2015-01-02 01:58:20,25.32,NaN,NaN
1,P150028635,2015-01-02,2015-01-02 01:21:14,2015-01-02 01:32:48,11.58,NaN,NaN
2,P150028635,2015-01-01,2015-01-01 22:34:30,2015-01-01 22:58:17,23.80,NaN,NaN
3,P150028635,2015-01-01,2015-01-01 22:00:05,2015-01-01 22:33:02,32.97,NaN,NaN
4,P150028635,2015-01-01,2015-01-01 19:00:00,2015-01-01 19:00:01,0.03,NaN,NaN

In [3]:
air['ONAIR_MINS'].sum()

240808.89999999886

In [4]:
air['ONAIR_MINS'].mean()

3.7941781685258533

In [5]:
air['ONAIR_MINS'].count()

63468

In [6]:
air.groupby("PRODUCT_NBR")["ONAIR_MINS"].count()

PRODUCT_NBR
P150000002    28
P150000004    10
P150000006    24
P150000008     9
P150000009    99
P150000010     4
P150000014    30
P150000017     4
P150000020    37
P150000022    12
P150000023     3
P150000024     6
P150000029    16
P150000033    13
P150000053     4
P150000058     6
P150000086    24
P150000088     2
P150000092     4
P150000250    44
P150000251    23
P150000277    10
P150000379    11
P150000638     5
P150000659     2
P150000692     8
P150000702    12
P150000703    12
P150000706     3
P150000711     6
              ..
P150067301     6
P150067302    19
P150067303     2
P150067305     6
P150067306    12
P150067307     4
P150067308    42
P150067309     4
P150067310    11
P150067311    58
P150067312     3
P150067315     6
P150067316     2
P150067319    12
P150067321    58
P150067322    11
P150067323     6
P150067324    11
P150067325    10
P150067326    20
P150067327     1
P150067328    53
P150067329    39
P150067330     8
P150067331     9
P150067334    16
P150067335     6
P150067336    10
P150067337    10
P150067338     3
Name: ONAIR_MINS, Length: 8057, dtype: int64

In [7]:
air.groupby('ONAIR_DATE')["ONAIR_MINS"].mean()

ONAIR_DATE
2015-01-01    4.667517
2015-01-02    4.165325
2015-01-03    4.840824
2015-01-04    5.498927
2015-01-05    3.429923
2015-01-06    4.940239
2015-01-07    5.369622
2015-01-08    2.649745
2015-01-09    3.961004
2015-01-10    5.487429
2015-01-11    6.595985
2015-01-12    3.677669
2015-01-13    4.798612
2015-01-14    4.626586
2015-01-15    4.522161
2015-01-16    4.955065
2015-01-17    4.403977
2015-01-18    5.883160
2015-01-19    2.974094
2015-01-20    3.854192
2015-01-21    3.920686
2015-01-22    3.701865
2015-01-23    3.004524
2015-01-24    3.591883
2015-01-25    5.468945
2015-01-26    3.851046
2015-01-27    2.810999
2015-01-28    3.849758
2015-01-29    3.769090
2015-01-30    3.875985
                ...
2015-03-02    3.516992
2015-03-03    4.260445
2015-03-04    3.922168
2015-03-05    3.669177
2015-03-06    4.278395
2015-03-07    3.765728
2015-03-08    3.459732
2015-03-09    2.422940
2015-03-10    3.953791
2015-03-11    4.399000
2015-03-12    3.081010
2015-03-13    4.244855
2015-03-14    3.791305
2015-03-15    5.510041
2015-03-16    3.781709
2015-03-17    3.439170
2015-03-18    3.637714
2015-03-19    3.839714
2015-03-20    3.811243
2015-03-21    4.395400
2015-03-22    6.417494
2015-03-23    3.315925
2015-03-24    3.431201
2015-03-25    2.565161
2015-03-26    3.526029
2015-03-27    2.394901
2015-03-28    3.448021
2015-03-29    4.661278
2015-03-30    3.266187
2015-03-31    4.229936
Name: ONAIR_MINS, Length: 90, dtype: float64

In [9]:
air.groupby(["PRODUCT_NBR", "ONAIR_DATE"])["ONAIR_MINS"].sum()

PRODUCT_NBR  ONAIR_DATE
P150000002   2015-01-05     13.03
             2015-01-16      7.86
             2015-02-07      7.79
             2015-03-05     14.21
             2015-03-23      7.77
             2015-03-28     17.16
P150000004   2015-02-09     12.96
             2015-02-12      6.51
             2015-03-01     16.51
P150000006   2015-01-02     11.17
             2015-02-16      8.12
             2015-03-11     23.35
             2015-03-23     15.32
P150000008   2015-01-10     16.01
             2015-01-22      7.28
             2015-01-26      7.43
             2015-01-27      7.43
             2015-02-06     15.02
P150000009   2015-01-01     19.52
             2015-01-09     15.73
             2015-01-10     17.48
             2015-01-11      8.70
             2015-01-21     39.54
             2015-02-03     14.15
             2015-02-05     13.82
             2015-02-10      7.47
             2015-02-12      9.70
             2015-02-13     26.30
             2015-02-17     15.00
             2015-02-18     14.38
                            ...
P150067328   2015-02-14     23.32
             2015-02-19     22.42
             2015-02-22     20.63
             2015-02-26      7.60
             2015-02-28     13.05
             2015-03-01      6.87
             2015-03-03      8.44
             2015-03-08      0.72
             2015-03-10      7.82
             2015-03-21     14.90
P150067329   2015-01-06     61.00
             2015-01-15     32.13
             2015-01-16     32.12
             2015-03-29    712.95
P150067330   2015-01-10     20.90
             2015-01-13     15.48
             2015-01-15     10.91
P150067331   2015-01-06     14.58
             2015-01-09     14.55
             2015-01-27     15.49
P150067334   2015-01-10     26.10
             2015-01-28     28.90
             2015-02-03     15.18
             2015-02-21     15.28
P150067335   2015-03-15     38.04
P150067336   2015-02-11      3.50
             2015-02-12      0.27
P150067337   2015-03-15      1.59
             2015-03-16      0.58
P150067338   2015-03-04     15.54
Name: ONAIR_MINS, Length: 16520, dtype: float64

In [14]:
grouped = air.groupby(["PRODUCT_NBR", "ONAIR_DATE"])

In [16]:
host_group =air.groupby(["HOST1", "ONAIR_DATE"])

In [17]:
grouped["ONAIR_MINS"].sum()

PRODUCT_NBR  ONAIR_DATE
P150000002   2015-01-05     13.03
             2015-01-16      7.86
             2015-02-07      7.79
             2015-03-05     14.21
             2015-03-23      7.77
             2015-03-28     17.16
P150000004   2015-02-09     12.96
             2015-02-12      6.51
             2015-03-01     16.51
P150000006   2015-01-02     11.17
             2015-02-16      8.12
             2015-03-11     23.35
             2015-03-23     15.32
P150000008   2015-01-10     16.01
             2015-01-22      7.28
             2015-01-26      7.43
             2015-01-27      7.43
             2015-02-06     15.02
P150000009   2015-01-01     19.52
             2015-01-09     15.73
             2015-01-10     17.48
             2015-01-11      8.70
             2015-01-21     39.54
             2015-02-03     14.15
             2015-02-05     13.82
             2015-02-10      7.47
             2015-02-12      9.70
             2015-02-13     26.30
             2015-02-17     15.00
             2015-02-18     14.38
                            ...
P150067328   2015-02-14     23.32
             2015-02-19     22.42
             2015-02-22     20.63
             2015-02-26      7.60
             2015-02-28     13.05
             2015-03-01      6.87
             2015-03-03      8.44
             2015-03-08      0.72
             2015-03-10      7.82
             2015-03-21     14.90
P150067329   2015-01-06     61.00
             2015-01-15     32.13
             2015-01-16     32.12
             2015-03-29    712.95
P150067330   2015-01-10     20.90
             2015-01-13     15.48
             2015-01-15     10.91
P150067331   2015-01-06     14.58
             2015-01-09     14.55
             2015-01-27     15.49
P150067334   2015-01-10     26.10
             2015-01-28     28.90
             2015-02-03     15.18
             2015-02-21     15.28
P150067335   2015-03-15     38.04
P150067336   2015-02-11      3.50
             2015-02-12      0.27
P150067337   2015-03-15      1.59
             2015-03-16      0.58
P150067338   2015-03-04     15.54
Name: ONAIR_MINS, Length: 16520, dtype: float64

In [18]:
grouped["ONAIR_MINS"].agg([sum, len])

                           sum   len
PRODUCT_NBR ONAIR_DATE
P150000002  2015-01-05   13.03   6.0
            2015-01-16    7.86   2.0
            2015-02-07    7.79   3.0
            2015-03-05   14.21   8.0
            2015-03-23    7.77   1.0
            2015-03-28   17.16   8.0
P150000004  2015-02-09   12.96   4.0
            2015-02-12    6.51   2.0
            2015-03-01   16.51   4.0
P150000006  2015-01-02   11.17   4.0
            2015-02-16    8.12   4.0
            2015-03-11   23.35  14.0
            2015-03-23   15.32   2.0
P150000008  2015-01-10   16.01   4.0
            2015-01-22    7.28   1.0
            2015-01-26    7.43   1.0
            2015-01-27    7.43   1.0
            2015-02-06   15.02   2.0
P150000009  2015-01-01   19.52   4.0
            2015-01-09   15.73   4.0
            2015-01-10   17.48   4.0
            2015-01-11    8.70   2.0
            2015-01-21   39.54   8.0
            2015-02-03   14.15   2.0
            2015-02-05   13.82   2.0
            2015-02-10    7.47   1.0
            2015-02-12    9.70   6.0
            2015-02-13   26.30  10.0
            2015-02-17   15.00   3.0
            2015-02-18   14.38   3.0
...                        ...   ...
P150067328  2015-02-14   23.32   4.0
            2015-02-19   22.42  12.0
            2015-02-22   20.63  20.0
            2015-02-26    7.60   1.0
            2015-02-28   13.05   2.0
            2015-03-01    6.87   1.0
            2015-03-03    8.44   3.0
            2015-03-08    0.72   4.0
            2015-03-10    7.82   2.0
            2015-03-21   14.90   4.0
P150067329  2015-01-06   61.00   2.0
            2015-01-15   32.13   3.0
            2015-01-16   32.12   3.0
            2015-03-29  712.95  31.0
P150067330  2015-01-10   20.90   4.0
            2015-01-13   15.48   2.0
            2015-01-15   10.91   2.0
P150067331  2015-01-06   14.58   3.0
            2015-01-09   14.55   3.0
            2015-01-27   15.49   3.0
P150067334  2015-01-10   26.10   2.0
            2015-01-28   28.90   8.0
            2015-02-03   15.18   4.0
            2015-02-21   15.28   2.0
P150067335  2015-03-15   38.04   6.0
P150067336  2015-02-11    3.50   9.0
            2015-02-12    0.27   1.0
P150067337  2015-03-15    1.59   8.0
            2015-03-16    0.58   2.0
P150067338  2015-03-04   15.54   3.0

[16520 rows x 2 columns]

In [19]:
import numpy as np

In [26]:
res = grouped["ONAIR_MINS"].agg([sum, np.mean, np.std])

In [27]:
res.to_csv("sum.csv")

In [28]:
res.to_clipboard

<bound method NDFrame.to_clipboard of                            sum       mean        std
PRODUCT_NBR ONAIR_DATE
P150000002  2015-01-05   13.03   2.171667   2.655631
            2015-01-16    7.86   3.930000   5.091169
            2015-02-07    7.79   2.596667   3.966186
            2015-03-05   14.21   1.776250   2.548977
            2015-03-23    7.77   7.770000        NaN
            2015-03-28   17.16   2.145000   3.052339
P150000004  2015-02-09   12.96   3.240000   2.805934
            2015-02-12    6.51   3.255000   3.429468
            2015-03-01   16.51   4.127500   3.986606
P150000006  2015-01-02   11.17   2.792500   2.693354
            2015-02-16    8.12   2.030000   3.347875
            2015-03-11   23.35   1.667857   2.280156
            2015-03-23   15.32   7.660000   0.014142
P150000008  2015-01-10   16.01   4.002500   3.553593
            2015-01-22    7.28   7.280000        NaN
            2015-01-26    7.43   7.430000        NaN
            2015-01-27    7.43   7.430000        NaN
            2015-02-06   15.02   7.510000   0.014142
P150000009  2015-01-01   19.52   4.880000   4.930605
            2015-01-09   15.73   3.932500   6.232214
            2015-01-10   17.48   4.370000   4.451389
            2015-01-11    8.70   4.350000   5.444722
            2015-01-21   39.54   4.942500   4.921915
            2015-02-03   14.15   7.075000   0.007071
            2015-02-05   13.82   6.910000   0.014142
            2015-02-10    7.47   7.470000        NaN
            2015-02-12    9.70   1.616667   2.101482
            2015-02-13   26.30   2.630000   3.138021
            2015-02-17   15.00   5.000000   7.421853
            2015-02-18   14.38   4.793333   7.263238
...                        ...        ...        ...
P150067328  2015-02-14   23.32   5.830000   3.485953
            2015-02-19   22.42   1.868333   3.303692
            2015-02-22   20.63   1.031500   2.575317
            2015-02-26    7.60   7.600000        NaN
            2015-02-28   13.05   6.525000   0.007071
            2015-03-01    6.87   6.870000        NaN
            2015-03-03    8.44   2.813333   4.682321
            2015-03-08    0.72   0.180000   0.081240
            2015-03-10    7.82   3.910000   4.652763
            2015-03-21   14.90   3.725000   3.446800
P150067329  2015-01-06   61.00  30.500000   0.000000
            2015-01-15   32.13  10.710000  18.074382
            2015-01-16   32.12  10.706667  18.068609
            2015-03-29  712.95  22.998387  23.377615
P150067330  2015-01-10   20.90   5.225000   5.328955
            2015-01-13   15.48   7.740000   0.014142
            2015-01-15   10.91   5.455000   0.035355
P150067331  2015-01-06   14.58   4.860000   7.466103
            2015-01-09   14.55   4.850000   7.465949
            2015-01-27   15.49   5.163333   8.605442
P150067334  2015-01-10   26.10  13.050000   0.000000
            2015-01-28   28.90   3.612500   2.556933
            2015-02-03   15.18   3.795000   4.220470
            2015-02-21   15.28   7.640000   0.014142
P150067335  2015-03-15   38.04   6.340000   8.904617
P150067336  2015-02-11    3.50   0.388889   0.051343
            2015-02-12    0.27   0.270000        NaN
P150067337  2015-03-15    1.59   0.198750   0.075107
            2015-03-16    0.58   0.290000   0.127279
P150067338  2015-03-04   15.54   5.180000   7.917089

[16520 rows x 3 columns]>

In [29]:
min_sums = res["sum"]

In [30]:
min_sums

PRODUCT_NBR  ONAIR_DATE
P150000002   2015-01-05     13.03
             2015-01-16      7.86
             2015-02-07      7.79
             2015-03-05     14.21
             2015-03-23      7.77
             2015-03-28     17.16
P150000004   2015-02-09     12.96
             2015-02-12      6.51
             2015-03-01     16.51
P150000006   2015-01-02     11.17
             2015-02-16      8.12
             2015-03-11     23.35
             2015-03-23     15.32
P150000008   2015-01-10     16.01
             2015-01-22      7.28
             2015-01-26      7.43
             2015-01-27      7.43
             2015-02-06     15.02
P150000009   2015-01-01     19.52
             2015-01-09     15.73
             2015-01-10     17.48
             2015-01-11      8.70
             2015-01-21     39.54
             2015-02-03     14.15
             2015-02-05     13.82
             2015-02-10      7.47
             2015-02-12      9.70
             2015-02-13     26.30
             2015-02-17     15.00
             2015-02-18     14.38
                            ...
P150067328   2015-02-14     23.32
             2015-02-19     22.42
             2015-02-22     20.63
             2015-02-26      7.60
             2015-02-28     13.05
             2015-03-01      6.87
             2015-03-03      8.44
             2015-03-08      0.72
             2015-03-10      7.82
             2015-03-21     14.90
P150067329   2015-01-06     61.00
             2015-01-15     32.13
             2015-01-16     32.12
             2015-03-29    712.95
P150067330   2015-01-10     20.90
             2015-01-13     15.48
             2015-01-15     10.91
P150067331   2015-01-06     14.58
             2015-01-09     14.55
             2015-01-27     15.49
P150067334   2015-01-10     26.10
             2015-01-28     28.90
             2015-02-03     15.18
             2015-02-21     15.28
P150067335   2015-03-15     38.04
P150067336   2015-02-11      3.50
             2015-02-12      0.27
P150067337   2015-03-15      1.59
             2015-03-16      0.58
P150067338   2015-03-04     15.54
Name: sum, Length: 16520, dtype: float64

In [33]:
host = air.groupby(["PRODUCT_NBR", "HOST1"])["ONAIR_MINS"].sum()

In [34]:
host

PRODUCT_NBR  HOST1
P150000002   Abiera Gabrielle        7.11
             Boesing Rachel          8.58
             Coffey Jennifer         7.79
             RoeMary Beth            6.51
             Rudolph TreacyJane      7.77
             Stauffer Stacey         7.86
P150000004   Abiera Gabrielle        8.25
             Popaj Alberti           6.49
P150000006   Abiera Gabrielle       19.81
             Bennett Sandra          7.65
             Hornback Nancy          5.58
P150000008   Brown Jayne             7.52
             Stran Amy               7.43
             Williams Leah           8.01
P150000009   Abiera Gabrielle        8.32
             Bauer Jill              8.76
             Boesing Rachel         15.33
             Gracie Carolyn         53.72
             James-Dementri Pat     10.48
             Killinger Shawn        18.75
             RoeMary Beth            7.07
             Rudolph TreacyJane      6.70
             Stauffer Stacey         9.73
             Williams Leah          22.63
P150000010   Stauffer Stacey         6.21
P150000014   Brown Jayne            13.38
             Cason Courtney          0.48
             Faetsch Sharon         10.69
             Nester Antonella        6.75
             Stauffer Stacey        12.21
                                    ...
P150067328   Stauffer Stacey         0.50
             Stran Amy               6.52
             Venable David           7.12
             Wheeler Dan             0.39
P150067329   Bauer Jill              5.85
             Domeier Rick          205.86
             Faetsch Sharon          0.43
             Gracie Carolyn         51.80
             Hornback Nancy          1.40
             Hughes Dan             56.58
             Lindquist Kerstin      30.48
             RoeMary Beth           30.50
             Stauffer Stacey        25.73
             Venable David          53.45
             Wheeler Dan            59.16
P150067330   Boesing Rachel          7.75
             Hughes Dan              5.48
             Stauffer Stacey        10.43
P150067331   Domeier Rick           15.49
P150067334   Hughes Dan              7.27
             Irvin Albany            7.18
             Lindquist Kerstin      15.23
             Venable David          13.05
P150067335   Gracie Carolyn         19.01
P150067336   Hughes Dan              1.20
             Stran Amy               0.43
             Venable David           0.27
P150067337   Hughes Dan              0.33
             Irvin Albany            0.56
P150067338   Bauer Jill             15.54
Name: ONAIR_MINS, Length: 14136, dtype: float64

In [35]:
host.groupby("PRODUCT_NBR").apply(lambda x: x / x.sum())

PRODUCT_NBR  HOST1
P150000002   Abiera Gabrielle      0.155853
             Boesing Rachel        0.188075
             Coffey Jennifer       0.170758
             RoeMary Beth          0.142701
             Rudolph TreacyJane    0.170320
             Stauffer Stacey       0.172293
P150000004   Abiera Gabrielle      0.559701
             Popaj Alberti         0.440299
P150000006   Abiera Gabrielle      0.599576
             Bennett Sandra        0.231538
             Hornback Nancy        0.168886
P150000008   Brown Jayne           0.327526
             Stran Amy             0.323606
             Williams Leah         0.348868
P150000009   Abiera Gabrielle      0.051520
             Bauer Jill            0.054245
             Boesing Rachel        0.094928
             Gracie Carolyn        0.332652
             James-Dementri Pat    0.064896
             Killinger Shawn       0.116106
             RoeMary Beth          0.043780
             Rudolph TreacyJane    0.041489
             Stauffer Stacey       0.060251
             Williams Leah         0.140133
P150000010   Stauffer Stacey       1.000000
P150000014   Brown Jayne           0.212482
             Cason Courtney        0.007623
             Faetsch Sharon        0.169763
             Nester Antonella      0.107194
             Stauffer Stacey       0.193902
                                     ...
P150067328   Stauffer Stacey       0.006658
             Stran Amy             0.086818
             Venable David         0.094807
             Wheeler Dan           0.005193
P150067329   Bauer Jill            0.011223
             Domeier Rick          0.394943
             Faetsch Sharon        0.000825
             Gracie Carolyn        0.099378
             Hornback Nancy        0.002686
             Hughes Dan            0.108549
             Lindquist Kerstin     0.058476
             RoeMary Beth          0.058514
             Stauffer Stacey       0.049363
             Venable David         0.102544
             Wheeler Dan           0.113499
P150067330   Boesing Rachel        0.327557
             Hughes Dan            0.231615
             Stauffer Stacey       0.440828
P150067331   Domeier Rick          1.000000
P150067334   Hughes Dan            0.170138
             Irvin Albany          0.168032
             Lindquist Kerstin     0.356424
             Venable David         0.305406
P150067335   Gracie Carolyn        1.000000
P150067336   Hughes Dan            0.631579
             Stran Amy             0.226316
             Venable David         0.142105
P150067337   Hughes Dan            0.370787
             Irvin Albany          0.629213
P150067338   Bauer Jill            1.000000
Name: ONAIR_MINS, Length: 14136, dtype: float64

In [36]:
pd.pivot_table(
    air, 
    columns="PRODUCT_NBR",
    index="HOST1",
    values="ONAIR_MINS",
    aggfunc=np.sum,
    fill_value=0
)

PRODUCT_NBR,P150000002,P150000004,P150000006,P150000008,P150000009,P150000010,P150000014,P150000017,P150000020,P150000022,...,P150067327,P150067328,P150067329,P150067330,P150067331,P150067334,P150067335,P150067336,P150067337,P150067338
HOST1,,,,,,,,,,,,,,,,,,,,,
Abiera Gabrielle,7.11,8.25,19.81,0.00,8.32,0.00,0.00,13.07,22.41,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bauer Jill,0.00,0.00,0.00,0.00,8.76,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,5.85,0.00,0.00,0.00,0.00,0.00,0.00,15.54
Bennett Sandra,0.00,0.00,7.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Boesing Rachel,8.58,0.00,0.00,0.00,15.33,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,7.75,0.00,0.00,0.00,0.00,0.00,0.00
Brown Jayne,0.00,0.00,0.00,7.52,0.00,0.00,13.38,0.00,0.00,0.00,...,0.00,8.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cason Courtney,0.00,0.00,0.00,0.00,0.00,0.00,0.48,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Coffey Jennifer,7.79,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.81,0.38,...,0.00,9.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Domeier Rick,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,8.07,7.02,205.86,0.00,15.49,0.00,0.00,0.00,0.00,0.00
Faetsch Sharon,0.00,0.00,0.00,0.00,0.00,0.00,10.69,0.00,0.00,0.00,...,0.00,0.00,0.43,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Gonzales Jacque,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Gracie Carolyn,0.00,0.00,0.00,0.00,53.72,0.00,0.00,0.00,0.00,0.00,...,0.00,8.65,51.80,0.00,0.00,0.00,19.01,0.00,0.00,0.00
Hornback Nancy,0.00,0.00,5.58,0.00,0.00,0.00,0.00,0.00,0.00,0.22,...,0.00,0.00,1.40,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Hughes Dan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,11.01,56.58,5.48,0.00,7.27,0.00,1.20,0.33,0.00
Irvin Albany,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.13,...,0.00,0.00,0.00,0.00,0.00,7.18,0.00,0.00,0.56,0.00
James-Dementri Pat,0.00,0.00,0.00,0.00,10.48,0.00,0.00,0.00,0.00,6.33,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Killinger Shawn,0.00,0.00,0.00,0.00,18.75,0.00,0.00,0.00,0.00,0.00,...,0.00,7.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Lindquist Kerstin,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.57,30.48,0.00,0.00,15.23,0.00,0.00,0.00,0.00
Nester Antonella,0.00,0.00,0.00,0.00,0.00,0.00,6.75,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Popaj Alberti,0.00,6.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,8.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
RoeMary Beth,6.51,0.00,0.00,0.00,7.07,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,30.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Rudolph TreacyJane,7.77,0.00,0.00,0.00,6.70,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Stauffer Stacey,7.86,0.00,0.00,0.00,9.73,6.21,12.21,0.00,9.09,0.00,...,0.00,0.50,25.73,10.43,0.00,0.00,0.00,0.00,0.00,0.00
Stran Amy,0.00,0.00,0.00,7.43,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,6.52,0.00,0.00,0.00,0.00,0.00,0.43,0.00,0.00
Venable David,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,7.12,53.45,0.00,0.00,13.05,0.00,0.27,0.00,0.00
Wheeler Dan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.39,59.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Williams Leah,0.00,0.00,0.00,8.01,22.63,0.00,19.46,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [37]:
pd.options.display.max_rows = 15

In [38]:
product = pd.read_csv("product_master.csv")

In [39]:
pd.merge(air, product, on="PRODUCT_NBR")

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2,PRODUCT_DESCRIPTION,PRODUCT_CATEGORY,BRAND_NAME
0,P150028635,2015-01-02,2015-01-02 01:33:02,2015-01-02 01:58:20,25.32,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
1,P150028635,2015-01-02,2015-01-02 01:21:14,2015-01-02 01:32:48,11.58,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
2,P150028635,2015-01-01,2015-01-01 22:34:30,2015-01-01 22:58:17,23.80,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
3,P150028635,2015-01-01,2015-01-01 22:00:05,2015-01-01 22:33:02,32.97,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
4,P150028635,2015-01-01,2015-01-01 19:00:00,2015-01-01 19:00:01,0.03,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
5,P150028635,2015-01-01,2015-01-01 18:59:39,2015-01-01 18:59:59,0.35,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
6,P150028635,2015-01-01,2015-01-01 18:32:54,2015-01-01 18:44:14,11.35,NaN,NaN,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
...,...,...,...,...,...,...,...,...,...,...
63461,P150067337,2015-03-15,2015-03-15 18:49:30,2015-03-15 18:49:40,0.18,Irvin Albany,NaN,Little Giant Ladder Systems Folding,Housewares,Little Giant
63462,P150067337,2015-03-15,2015-03-15 17:34:35,2015-03-15 17:34:57,0.38,Irvin Albany,NaN,Little Giant Ladder Systems Folding,Housewares,Little Giant
63463,P150067337,2015-03-15,2015-03-15 00:36:17,2015-03-15 00:36:25,0.15,Hughes Dan,NaN,Little Giant Ladder Systems Folding,Housewares,Little Giant
63464,P150067337,2015-03-15,2015-03-15 00:17:02,2015-03-15 00:17:12,0.18,Hughes Dan,NaN,Little Giant Ladder Systems Folding,Housewares,Little Giant
63465,P150044973,2015-03-14,2015-03-14 04:40:21,2015-03-14 04:40:58,0.63,Stauffer Stacey,NaN,Judith Ripka Sterling Gemstone Station,Jewelry,Not Known
63466,P150048966,2015-03-12,2015-03-12 05:25:21,2015-03-12 05:25:44,0.40,Popaj Alberti,NaN,Judith Ripka Sterling Tanzanite Cabochon &,Jewelry,Judith Ripka
63467,P150048966,2015-03-12,2015-03-12 08:25:21,2015-03-12 08:25:44,0.40,NaN,NaN,Judith Ripka Sterling Tanzanite Cabochon &,Jewelry,Judith Ripka

In [40]:
prod_sum = air.groupby("PRODUCT_NBR")["ONAIR_MINS"].agg([sum])

In [41]:
prod_sum

                sum
PRODUCT_NBR
P150000002    67.82
P150000004    35.98
P150000006    57.96
P150000008    53.17
P150000009   412.35
P150000010    12.44
P150000014   113.72
...             ...
P150067330    47.29
P150067331    44.62
P150067334    85.46
P150067335    38.04
P150067336     3.77
P150067337     2.17
P150067338    15.54

[8057 rows x 1 columns]

In [42]:
product[product["PRODUCT_CATEGORY"]=="Fun & Leisure"]

,PRODUCT_NBR,PRODUCT_DESCRIPTION,PRODUCT_CATEGORY,BRAND_NAME
0,P150028635,Fitbit Flex Wireless Activity and Sleep Tracker,Fun & Leisure,Fitbit
1,P150025286,SquareTrade 3-Yr Service Contract/Accidental,Fun & Leisure,SquareTrade
15,P150028482,"Bodyblade Total Results Fitness Program w/DVD,",Fun & Leisure,Bodyblade
53,P150028632,Fitbit Zip Wireless Activity Tracker with,Fun & Leisure,Fitbit
94,P150028603,Total Gym Ultima w/10 Attachments 2 Floor Mats,Fun & Leisure,Total Gym
116,P150028478,The Flex Belt Abdominal Toning Belt System,Fun & Leisure,The Flex Belt
145,P150013922,MUK LUKS Fleece and Faux Fur Booties &,Fun & Leisure,Muk Luks
...,...,...,...,...
44165,P150001012,Due North Knit Cap w/Wind Resistant Ear Flaps,Fun & Leisure,Due North
44725,P150028523,AeroPilates Reformer Plus 4 Cord w. Rebounder,Fun & Leisure,AeroPilates
45347,P150006050,San Diego Hat Co. UPF Roll-Up Adjustable Visor,Fun & Leisure,San Diego Hat Co.
47119,P150018070,Loki 4-in-1 Mountain Hoodie,Fun & Leisure,Not Known
48019,P150028582,Dynatrap 1/2 Acre Coverage Insect Trap w/,Fun & Leisure,Dynatrap
48070,P150028633,smoothXbike Pro Compact Foldable Exercise Bike,Fun & Leisure,SCN Products
48467,P150004548,Due North Wind Resistant Anti-static Hood with,Fun & Leisure,Due North

In [43]:
pd.merge(prod_sum.reset_index(), product, on="PRODUCT_NBR")

,PRODUCT_NBR,sum,PRODUCT_DESCRIPTION,PRODUCT_CATEGORY,BRAND_NAME
0,P150000002,67.82,Breezies Set of 6 Cotton Briefs with UltimAir,Accessories,Not Known
1,P150000004,35.98,Susan Graver Lustra Knit Pull-on Ankle Pants,Apparel,Not Known
2,P150000006,57.96,Breezies Set of 4 Nylon Lycra Panties with,Accessories,Not Known
3,P150000008,53.17,Denim & Co. Stretch Boot Cut Leggings,Apparel,Not Known
4,P150000009,412.35,Denim & Co. Original Waist Stretch Pants w/,Apparel,Not Known
5,P150000010,12.44,Denim & Co. Stretch Leggings,Apparel,Not Known
6,P150000014,113.72,Bob Mackie's Wide Leg Knit Pants,Apparel,Not Known
...,...,...,...,...,...
8050,P150067330,47.29,Duraflame 1500W Portable Heater w/ Realistic,Housewares,Not Known
8051,P150067331,44.62,Air Innovations Digital Ultrasonic Humidifier w,Housewares,Not Known
8052,P150067334,85.46,Pursonic Rechargeable Sonic Toothbrush with,Health/Beauty,Not Known
8053,P150067335,38.04,Dyson DC50 Animal Upright Ball Compact Vacuum,Housewares,Dyson
8054,P150067336,3.77,A-D Scrub Daddy (6) Jumbo Blocks with (3) Bonus,Housewares,Scrub Daddy
8055,P150067337,2.17,Little Giant Ladder Systems Folding,Housewares,Little Giant
8056,P150067338,15.54,LightStim For Pain Handheld LED Therapy Light,Health/Beauty,Not Known