In [1]:
import pandas as pd
import os

In [2]:
air = pd.read_csv('product_airtime.csv')

In [3]:
air.head()

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
0,P150028635,2015-01-02,2015-01-02 01:33:02,2015-01-02 01:58:20,25.32,NaN,NaN
1,P150028635,2015-01-02,2015-01-02 01:21:14,2015-01-02 01:32:48,11.58,NaN,NaN
2,P150028635,2015-01-01,2015-01-01 22:34:30,2015-01-01 22:58:17,23.80,NaN,NaN
3,P150028635,2015-01-01,2015-01-01 22:00:05,2015-01-01 22:33:02,32.97,NaN,NaN
4,P150028635,2015-01-01,2015-01-01 19:00:00,2015-01-01 19:00:01,0.03,NaN,NaN

In [4]:
air['ONAIR_MINS']

0        25.32
1        11.58
2        23.80
3        32.97
4         0.03
5         0.35
6        11.35
7        32.63
8         1.48
9         0.07
10        0.47
11        0.85
12        4.65
13       15.68
14        0.58
15       25.58
16        0.63
17        5.27
18       11.32
19        4.47
20        0.73
21        1.02
22        0.27
23        0.38
24        0.93
25        2.80
26       15.05
27        1.48
28       19.73
29        3.55
         ...
63438     0.47
63439     2.53
63440     0.40
63441     0.32
63442     2.52
63443     0.37
63444     0.32
63445     3.78
63446     0.47
63447     3.77
63448     0.45
63449     2.47
63450     0.43
63451     3.45
63452     3.43
63453     0.57
63454     0.57
63455     0.20
63456     0.38
63457     0.17
63458     0.18
63459     0.15
63460     0.20
63461     0.18
63462     0.38
63463     0.15
63464     0.18
63465     0.63
63466     0.40
63467     0.40
Name: ONAIR_MINS, Length: 63468, dtype: float64

In [5]:
air['ONAIR_MINS'].mean()

3.7941781685258533

##### groupby

###### select sum(ONAIR_MINS) from air groupby PRODUCT_NBR

In [6]:
air.groupby('PRODUCT_NBR')['ONAIR_MINS'].sum()

PRODUCT_NBR
P150000002      67.82
P150000004      35.98
P150000006      57.96
P150000008      53.17
P150000009     412.35
P150000010      12.44
P150000014     113.72
P150000017      26.10
P150000020      58.47
P150000022      26.10
P150000023       9.10
P150000024      25.12
P150000029      83.93
P150000033      35.83
P150000053      18.75
P150000058      25.33
P150000086      98.61
P150000088      14.54
P150000092      16.56
P150000250     184.52
P150000251      96.99
P150000277      36.50
P150000379      37.65
P150000638      24.14
P150000659       0.54
P150000692      35.11
P150000702      66.07
P150000703      49.78
P150000706      18.09
P150000711      14.65
               ...
P150067301      23.77
P150067302      82.28
P150067303      29.60
P150067305      17.96
P150067306      42.71
P150067307      17.42
P150067308     578.03
P150067309      16.53
P150067310     214.96
P150067311    1106.32
P150067312      17.52
P150067315      57.92
P150067316       7.82
P150067319      63.69
P150067321     524.45
P150067322      53.92
P150067323      32.31
P150067324      57.23
P150067325      42.47
P150067326      74.46
P150067327       8.07
P150067328     125.77
P150067329     838.20
P150067330      47.29
P150067331      44.62
P150067334      85.46
P150067335      38.04
P150067336       3.77
P150067337       2.17
P150067338      15.54
Name: ONAIR_MINS, Length: 8057, dtype: float64

In [8]:
air.groupby("PRODUCT_NBR")["ONAIR_MINS"].sum().sort_values()

PRODUCT_NBR
P150029240       0.07
P150065521       0.10
P150014453       0.12
P150047534       0.15
P150047535       0.15
P150046282       0.15
P150045527       0.15
P150054892       0.18
P150014541       0.18
P150049119       0.20
P150039783       0.20
P150048680       0.20
P150006954       0.21
P150039440       0.22
P150047580       0.22
P150049306       0.22
P150014647       0.23
P150017635       0.23
P150057096       0.23
P150039123       0.25
P150046575       0.25
P150054412       0.25
P150044333       0.25
P150046989       0.25
P150055934       0.25
P150048432       0.25
P150044473       0.25
P150056787       0.26
P150048756       0.27
P150049128       0.27
               ...
P150067308     578.03
P150062375     586.72
P150028524     592.94
P150025428     614.68
P150033789     635.11
P150033966     643.49
P150025459     650.95
P150067272     657.55
P150065771     659.74
P150018951     671.67
P150067189     696.74
P150062428     697.17
P150025574     702.20
P150065551     709.91
P150025526     758.81
P150033993     771.27
P150025347     790.29
P150025527     794.41
P150067329     838.20
P150062370     886.24
P150025449     903.51
P150062409     938.80
P150025508     947.38
P150025521     991.25
P150067291    1038.61
P150062392    1084.30
P150067311    1106.32
P150028611    1228.97
P150033891    1364.49
P150028599    1439.42
Name: ONAIR_MINS, Length: 8057, dtype: float64

In [10]:
air.groupby("PRODUCT_NBR")["ONAIR_MINS"].sum().sort_values(ascending = False)

PRODUCT_NBR
P150028599    1439.42
P150033891    1364.49
P150028611    1228.97
P150067311    1106.32
P150062392    1084.30
P150067291    1038.61
P150025521     991.25
P150025508     947.38
P150062409     938.80
P150025449     903.51
P150062370     886.24
P150067329     838.20
P150025527     794.41
P150025347     790.29
P150033993     771.27
P150025526     758.81
P150065551     709.91
P150025574     702.20
P150062428     697.17
P150067189     696.74
P150018951     671.67
P150065771     659.74
P150067272     657.55
P150025459     650.95
P150033966     643.49
P150033789     635.11
P150025428     614.68
P150028524     592.94
P150062375     586.72
P150067308     578.03
               ...
P150049128       0.27
P150048756       0.27
P150056787       0.26
P150044473       0.25
P150048432       0.25
P150055934       0.25
P150046989       0.25
P150044333       0.25
P150054412       0.25
P150046575       0.25
P150039123       0.25
P150057096       0.23
P150017635       0.23
P150014647       0.23
P150049306       0.22
P150047580       0.22
P150039440       0.22
P150006954       0.21
P150048680       0.20
P150039783       0.20
P150049119       0.20
P150014541       0.18
P150054892       0.18
P150045527       0.15
P150046282       0.15
P150047535       0.15
P150047534       0.15
P150014453       0.12
P150065521       0.10
P150029240       0.07
Name: ONAIR_MINS, Length: 8057, dtype: float64

In [12]:
min_sums = air.groupby(['PRODUCT_NBR', "ONAIR_DATE"])["ONAIR_MINS"].sum()

In [13]:
min_sums

PRODUCT_NBR  ONAIR_DATE
P150000002   2015-01-05     13.03
             2015-01-16      7.86
             2015-02-07      7.79
             2015-03-05     14.21
             2015-03-23      7.77
             2015-03-28     17.16
P150000004   2015-02-09     12.96
             2015-02-12      6.51
             2015-03-01     16.51
P150000006   2015-01-02     11.17
             2015-02-16      8.12
             2015-03-11     23.35
             2015-03-23     15.32
P150000008   2015-01-10     16.01
             2015-01-22      7.28
             2015-01-26      7.43
             2015-01-27      7.43
             2015-02-06     15.02
P150000009   2015-01-01     19.52
             2015-01-09     15.73
             2015-01-10     17.48
             2015-01-11      8.70
             2015-01-21     39.54
             2015-02-03     14.15
             2015-02-05     13.82
             2015-02-10      7.47
             2015-02-12      9.70
             2015-02-13     26.30
             2015-02-17     15.00
             2015-02-18     14.38
                            ...
P150067328   2015-02-14     23.32
             2015-02-19     22.42
             2015-02-22     20.63
             2015-02-26      7.60
             2015-02-28     13.05
             2015-03-01      6.87
             2015-03-03      8.44
             2015-03-08      0.72
             2015-03-10      7.82
             2015-03-21     14.90
P150067329   2015-01-06     61.00
             2015-01-15     32.13
             2015-01-16     32.12
             2015-03-29    712.95
P150067330   2015-01-10     20.90
             2015-01-13     15.48
             2015-01-15     10.91
P150067331   2015-01-06     14.58
             2015-01-09     14.55
             2015-01-27     15.49
P150067334   2015-01-10     26.10
             2015-01-28     28.90
             2015-02-03     15.18
             2015-02-21     15.28
P150067335   2015-03-15     38.04
P150067336   2015-02-11      3.50
             2015-02-12      0.27
P150067337   2015-03-15      1.59
             2015-03-16      0.58
P150067338   2015-03-04     15.54
Name: ONAIR_MINS, Length: 16520, dtype: float64

In [14]:
grouped = air.groupby('PRODUCT_NBR')

In [16]:
grouped.get_group("P150000002")

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
14313,P150000002,2015-03-28,2015-03-28 07:46:51,2015-03-28 07:47:18,0.47,NaN,NaN
14314,P150000002,2015-03-28,2015-03-28 07:25:08,2015-03-28 07:32:12,7.08,NaN,NaN
14315,P150000002,2015-03-28,2015-03-28 07:16:37,2015-03-28 07:17:05,0.48,NaN,NaN
14316,P150000002,2015-03-28,2015-03-28 07:01:12,2015-03-28 07:01:44,0.55,NaN,NaN
14317,P150000002,2015-03-28,2015-03-28 04:46:52,2015-03-28 04:47:18,0.45,Boesing Rachel,NaN
14318,P150000002,2015-03-28,2015-03-28 04:25:08,2015-03-28 04:32:13,7.10,Boesing Rachel,NaN
14319,P150000002,2015-03-28,2015-03-28 04:16:38,2015-03-28 04:17:06,0.48,Boesing Rachel,NaN
14320,P150000002,2015-03-28,2015-03-28 04:01:12,2015-03-28 04:01:44,0.55,Boesing Rachel,NaN
14321,P150000002,2015-03-23,2015-03-23 14:35:51,2015-03-23 14:43:36,7.77,Rudolph TreacyJane,NaN
14322,P150000002,2015-03-05,2015-03-05 07:58:29,2015-03-05 07:58:44,0.27,NaN,NaN
14323,P150000002,2015-03-05,2015-03-05 07:44:25,2015-03-05 07:45:00,0.60,NaN,NaN
14324,P150000002,2015-03-05,2015-03-05 07:16:44,2015-03-05 07:22:37,5.90,NaN,NaN
14325,P150000002,2015-03-05,2015-03-05 07:00:22,2015-03-05 07:00:41,0.33,NaN,NaN
14326,P150000002,2015-03-05,2015-03-05 04:58:29,2015-03-05 04:58:44,0.27,Abiera Gabrielle,NaN
14327,P150000002,2015-03-05,2015-03-05 04:44:25,2015-03-05 04:45:01,0.62,Abiera Gabrielle,NaN
14328,P150000002,2015-03-05,2015-03-05 04:16:45,2015-03-05 04:22:38,5.90,Abiera Gabrielle,NaN
14329,P150000002,2015-03-05,2015-03-05 04:00:22,2015-03-05 04:00:40,0.32,Abiera Gabrielle,NaN
14330,P150000002,2015-02-07,2015-02-07 05:37:01,2015-02-07 05:37:06,0.10,Coffey Jennifer,NaN
14331,P150000002,2015-02-07,2015-02-07 05:25:19,2015-02-07 05:32:28,7.17,Coffey Jennifer,NaN
14332,P150000002,2015-02-07,2015-02-07 05:02:41,2015-02-07 05:03:11,0.52,Coffey Jennifer,NaN
14333,P150000002,2015-01-16,2015-01-16 04:26:42,2015-01-16 04:34:13,7.53,Stauffer Stacey,NaN
14334,P150000002,2015-01-16,2015-01-16 04:01:59,2015-01-16 04:02:18,0.33,Stauffer Stacey,NaN
14335,P150000002,2015-01-05,2015-01-05 12:26:56,2015-01-05 12:32:31,5.60,NaN,NaN
14336,P150000002,2015-01-05,2015-01-05 12:17:45,2015-01-05 12:18:12,0.47,NaN,NaN
14337,P150000002,2015-01-05,2015-01-05 12:01:38,2015-01-05 12:02:04,0.45,NaN,NaN
14338,P150000002,2015-01-05,2015-01-05 09:26:56,2015-01-05 09:32:31,5.60,RoeMary Beth,NaN
14339,P150000002,2015-01-05,2015-01-05 09:17:45,2015-01-05 09:18:13,0.48,RoeMary Beth,NaN
14340,P150000002,2015-01-05,2015-01-05 09:01:39,2015-01-05 09:02:04,0.43,RoeMary Beth,NaN

In [17]:
air[air["PRODUCT_NBR"] == "P150000002"]

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
14313,P150000002,2015-03-28,2015-03-28 07:46:51,2015-03-28 07:47:18,0.47,NaN,NaN
14314,P150000002,2015-03-28,2015-03-28 07:25:08,2015-03-28 07:32:12,7.08,NaN,NaN
14315,P150000002,2015-03-28,2015-03-28 07:16:37,2015-03-28 07:17:05,0.48,NaN,NaN
14316,P150000002,2015-03-28,2015-03-28 07:01:12,2015-03-28 07:01:44,0.55,NaN,NaN
14317,P150000002,2015-03-28,2015-03-28 04:46:52,2015-03-28 04:47:18,0.45,Boesing Rachel,NaN
14318,P150000002,2015-03-28,2015-03-28 04:25:08,2015-03-28 04:32:13,7.10,Boesing Rachel,NaN
14319,P150000002,2015-03-28,2015-03-28 04:16:38,2015-03-28 04:17:06,0.48,Boesing Rachel,NaN
14320,P150000002,2015-03-28,2015-03-28 04:01:12,2015-03-28 04:01:44,0.55,Boesing Rachel,NaN
14321,P150000002,2015-03-23,2015-03-23 14:35:51,2015-03-23 14:43:36,7.77,Rudolph TreacyJane,NaN
14322,P150000002,2015-03-05,2015-03-05 07:58:29,2015-03-05 07:58:44,0.27,NaN,NaN
14323,P150000002,2015-03-05,2015-03-05 07:44:25,2015-03-05 07:45:00,0.60,NaN,NaN
14324,P150000002,2015-03-05,2015-03-05 07:16:44,2015-03-05 07:22:37,5.90,NaN,NaN
14325,P150000002,2015-03-05,2015-03-05 07:00:22,2015-03-05 07:00:41,0.33,NaN,NaN
14326,P150000002,2015-03-05,2015-03-05 04:58:29,2015-03-05 04:58:44,0.27,Abiera Gabrielle,NaN
14327,P150000002,2015-03-05,2015-03-05 04:44:25,2015-03-05 04:45:01,0.62,Abiera Gabrielle,NaN
14328,P150000002,2015-03-05,2015-03-05 04:16:45,2015-03-05 04:22:38,5.90,Abiera Gabrielle,NaN
14329,P150000002,2015-03-05,2015-03-05 04:00:22,2015-03-05 04:00:40,0.32,Abiera Gabrielle,NaN
14330,P150000002,2015-02-07,2015-02-07 05:37:01,2015-02-07 05:37:06,0.10,Coffey Jennifer,NaN
14331,P150000002,2015-02-07,2015-02-07 05:25:19,2015-02-07 05:32:28,7.17,Coffey Jennifer,NaN
14332,P150000002,2015-02-07,2015-02-07 05:02:41,2015-02-07 05:03:11,0.52,Coffey Jennifer,NaN
14333,P150000002,2015-01-16,2015-01-16 04:26:42,2015-01-16 04:34:13,7.53,Stauffer Stacey,NaN
14334,P150000002,2015-01-16,2015-01-16 04:01:59,2015-01-16 04:02:18,0.33,Stauffer Stacey,NaN
14335,P150000002,2015-01-05,2015-01-05 12:26:56,2015-01-05 12:32:31,5.60,NaN,NaN
14336,P150000002,2015-01-05,2015-01-05 12:17:45,2015-01-05 12:18:12,0.47,NaN,NaN
14337,P150000002,2015-01-05,2015-01-05 12:01:38,2015-01-05 12:02:04,0.45,NaN,NaN
14338,P150000002,2015-01-05,2015-01-05 09:26:56,2015-01-05 09:32:31,5.60,RoeMary Beth,NaN
14339,P150000002,2015-01-05,2015-01-05 09:17:45,2015-01-05 09:18:13,0.48,RoeMary Beth,NaN
14340,P150000002,2015-01-05,2015-01-05 09:01:39,2015-01-05 09:02:04,0.43,RoeMary Beth,NaN

In [18]:
grouped["ONAIR_MINS"].count().sort_values(ascending=False)

PRODUCT_NBR
P150011229    363
P150011250    236
P150013562    216
P150063673    215
P150016256    208
P150016809    206
P150016714    173
P150018938    168
P150016439    150
P150025526    147
P150015992    133
P150056785    131
P150062375    130
P150001099    126
P150025521    122
P150018951    120
P150028524    118
P150015524    117
P150065551    116
P150025347    116
P150025449    114
P150033972    113
P150028611    112
P150025291    109
P150062370    107
P150017959    105
P150018033    105
P150033695    100
P150014928     99
P150033607     99
             ...
P150018384      1
P150053833      1
P150048756      1
P150055643      1
P150008083      1
P150008072      1
P150055637      1
P150055636      1
P150014647      1
P150056685      1
P150033772      1
P150042241      1
P150018492      1
P150007918      1
P150042275      1
P150042276      1
P150042329      1
P150053867      1
P150007879      1
P150042280      1
P150011923      1
P150033768      1
P150007856      1
P150007842      1
P150016188      1
P150007823      1
P150011936      1
P150016192      1
P150042318      1
P150045789      1
Name: ONAIR_MINS, Length: 8057, dtype: int64

In [20]:
import numpy as np

In [21]:
grouped["ONAIR_MINS"].agg([np.sum, np.mean, np.std, len]).sort_values("sum", ascending=False)

                 sum       mean        std    len
PRODUCT_NBR
P150028599   1439.42  19.991944  14.601324   72.0
P150033891   1364.49  19.218169  21.530443   71.0
P150028611   1228.97  10.972946  10.740866  112.0
P150067311   1106.32  19.074483  20.570341   58.0
P150062392   1084.30  25.816667  21.326556   42.0
P150067291   1038.61  20.364902  16.669705   51.0
P150025521    991.25   8.125000   9.425661  122.0
P150025508    947.38  13.932059  13.889055   68.0
P150062409    938.80  23.470000  22.007291   40.0
P150025449    903.51   7.925526   8.856094  114.0
P150062370    886.24   8.282617   8.848037  107.0
P150067329    838.20  21.492308  22.143111   39.0
P150025527    794.41  10.055823  10.440605   79.0
P150025347    790.29   6.812845   6.496133  116.0
P150033993    771.27  16.068125  14.611827   48.0
P150025526    758.81   5.161973   5.111142  147.0
P150065551    709.91   6.119914   7.477301  116.0
P150025574    702.20   7.802222   9.192073   90.0
P150062428    697.17  21.126364  22.618413   33.0
P150067189    696.74  12.012759  12.979900   58.0
P150018951    671.67   5.597250   6.768303  120.0
P150065771    659.74   7.583218   9.122861   87.0
P150067272    657.55   8.885811   8.575156   74.0
P150025459    650.95   8.136875   9.828471   80.0
P150033966    643.49   6.919247   7.279471   93.0
P150033789    635.11  17.165135  16.002231   37.0
P150025428    614.68   6.681304   6.506073   92.0
P150028524    592.94   5.024915   3.892097  118.0
P150062375    586.72   4.513231   4.064124  130.0
P150067308    578.03  13.762619  13.215120   42.0
...              ...        ...        ...    ...
P150049128      0.27   0.270000        NaN    1.0
P150048962      0.27   0.270000        NaN    1.0
P150056787      0.26   0.130000   0.070711    2.0
P150048432      0.25   0.125000   0.007071    2.0
P150044333      0.25   0.250000        NaN    1.0
P150044473      0.25   0.250000        NaN    1.0
P150046575      0.25   0.250000        NaN    1.0
P150055934      0.25   0.250000        NaN    1.0
P150039123      0.25   0.250000        NaN    1.0
P150046989      0.25   0.250000        NaN    1.0
P150054412      0.25   0.250000        NaN    1.0
P150014647      0.23   0.230000        NaN    1.0
P150057096      0.23   0.115000   0.021213    2.0
P150017635      0.23   0.230000        NaN    1.0
P150049306      0.22   0.220000        NaN    1.0
P150047580      0.22   0.220000        NaN    1.0
P150039440      0.22   0.220000        NaN    1.0
P150006954      0.21   0.030000   0.014142    7.0
P150048680      0.20   0.200000        NaN    1.0
P150039783      0.20   0.200000        NaN    1.0
P150049119      0.20   0.200000        NaN    1.0
P150054892      0.18   0.180000        NaN    1.0
P150014541      0.18   0.180000        NaN    1.0
P150045527      0.15   0.075000   0.007071    2.0
P150047534      0.15   0.150000        NaN    1.0
P150046282      0.15   0.150000        NaN    1.0
P150047535      0.15   0.150000        NaN    1.0
P150014453      0.12   0.120000        NaN    1.0
P150065521      0.10   0.100000        NaN    1.0
P150029240      0.07   0.070000        NaN    1.0

[8057 rows x 4 columns]

In [22]:
grouped["ONAIR_MINS"].agg([np.sum, np.mean, np.std, len]).sort_index()

                 sum       mean        std   len
PRODUCT_NBR
P150000002     67.82   2.422143   2.987059  28.0
P150000004     35.98   3.598000   3.071908  10.0
P150000006     57.96   2.415000   2.851193  24.0
P150000008     53.17   5.907778   2.829668   9.0
P150000009    412.35   4.165152   4.684989  99.0
P150000010     12.44   3.110000   2.621183   4.0
P150000014    113.72   3.790667   4.768193  30.0
P150000017     26.10   6.525000   1.310636   4.0
P150000020     58.47   1.580270   1.758171  37.0
P150000022     26.10   2.175000   2.322368  12.0
P150000023      9.10   3.033333   4.648358   3.0
P150000024     25.12   4.186667   2.718379   6.0
P150000029     83.93   5.245625   4.765297  16.0
P150000033     35.83   2.756154   2.987414  13.0
P150000053     18.75   4.687500   5.863636   4.0
P150000058     25.33   4.221667   4.000202   6.0
P150000086     98.61   4.108750   3.653534  24.0
P150000088     14.54   7.270000   0.000000   2.0
P150000092     16.56   4.140000   0.485043   4.0
P150000250    184.52   4.193636   4.441189  44.0
P150000251     96.99   4.216957   4.826480  23.0
P150000277     36.50   3.650000   2.787998  10.0
P150000379     37.65   3.422727   3.588802  11.0
P150000638     24.14   4.828000   4.011361   5.0
P150000659      0.54   0.270000   0.000000   2.0
P150000692     35.11   4.388750   5.258116   8.0
P150000702     66.07   5.505833   3.664688  12.0
P150000703     49.78   4.148333   4.937982  12.0
P150000706     18.09   6.030000   0.000000   3.0
P150000711     14.65   2.441667   1.588527   6.0
...              ...        ...        ...   ...
P150067301     23.77   3.961667   3.547418   6.0
P150067302     82.28   4.330526   4.951514  19.0
P150067303     29.60  14.800000  19.869701   2.0
P150067305     17.96   2.993333   4.087315   6.0
P150067306     42.71   3.559167   3.552532  12.0
P150067307     17.42   4.355000   4.439831   4.0
P150067308    578.03  13.762619  13.215120  42.0
P150067309     16.53   4.132500   4.454267   4.0
P150067310    214.96  19.541818  21.239488  11.0
P150067311   1106.32  19.074483  20.570341  58.0
P150067312     17.52   5.840000   4.928113   3.0
P150067315     57.92   9.653333   1.051279   6.0
P150067316      7.82   3.910000   4.582052   2.0
P150067319     63.69   5.307500   5.530581  12.0
P150067321    524.45   9.042241   9.962605  58.0
P150067322     53.92   4.901818   6.420593  11.0
P150067323     32.31   5.385000   2.551225   6.0
P150067324     57.23   5.202727   3.237604  11.0
P150067325     42.47   4.247000   3.259724  10.0
P150067326     74.46   3.723000   4.999223  20.0
P150067327      8.07   8.070000        NaN   1.0
P150067328    125.77   2.373019   3.352422  53.0
P150067329    838.20  21.492308  22.143111  39.0
P150067330     47.29   5.911250   3.668076   8.0
P150067331     44.62   4.957778   6.812339   9.0
P150067334     85.46   5.341250   4.180056  16.0
P150067335     38.04   6.340000   8.904617   6.0
P150067336      3.77   0.377000   0.061292  10.0
P150067337      2.17   0.217000   0.087566  10.0
P150067338     15.54   5.180000   7.917089   3.0

[8057 rows x 4 columns]

In [25]:
grouped.agg({
    "ONAIR_DATE" : min,
    "ONAIR_MINS" : [np.sum, np.mean, np.std]
}).sort_values(("ONAIR_MINS", "sum"))

             ONAIR_DATE ONAIR_MINS
                    min        sum       mean        std
PRODUCT_NBR
P150029240   2015-03-03       0.07   0.070000        NaN
P150065521   2015-03-31       0.10   0.100000        NaN
P150014453   2015-01-04       0.12   0.120000        NaN
P150047534   2015-02-01       0.15   0.150000        NaN
P150047535   2015-02-01       0.15   0.150000        NaN
P150046282   2015-01-08       0.15   0.150000        NaN
P150045527   2015-01-28       0.15   0.075000   0.007071
P150054892   2015-03-10       0.18   0.180000        NaN
P150014541   2015-03-02       0.18   0.180000        NaN
P150049119   2015-03-29       0.20   0.200000        NaN
P150039783   2015-02-01       0.20   0.200000        NaN
P150048680   2015-01-01       0.20   0.200000        NaN
P150006954   2015-01-06       0.21   0.030000   0.014142
P150039440   2015-02-01       0.22   0.220000        NaN
P150047580   2015-02-01       0.22   0.220000        NaN
P150049306   2015-02-01       0.22   0.220000        NaN
P150014647   2015-01-28       0.23   0.230000        NaN
P150017635   2015-03-02       0.23   0.230000        NaN
P150057096   2015-03-25       0.23   0.115000   0.021213
P150039123   2015-01-08       0.25   0.250000        NaN
P150046575   2015-03-14       0.25   0.250000        NaN
P150054412   2015-01-18       0.25   0.250000        NaN
P150044333   2015-01-12       0.25   0.250000        NaN
P150046989   2015-03-12       0.25   0.250000        NaN
P150055934   2015-03-25       0.25   0.250000        NaN
P150048432   2015-03-12       0.25   0.125000   0.007071
P150044473   2015-02-01       0.25   0.250000        NaN
P150056787   2015-03-12       0.26   0.130000   0.070711
P150048756   2015-01-08       0.27   0.270000        NaN
P150049128   2015-03-29       0.27   0.270000        NaN
...                 ...        ...        ...        ...
P150067308   2015-01-01     578.03  13.762619  13.215120
P150062375   2015-02-25     586.72   4.513231   4.064124
P150028524   2015-01-03     592.94   5.024915   3.892097
P150025428   2015-01-22     614.68   6.681304   6.506073
P150033789   2015-01-03     635.11  17.165135  16.002231
P150033966   2015-01-20     643.49   6.919247   7.279471
P150025459   2015-01-28     650.95   8.136875   9.828471
P150067272   2015-03-15     657.55   8.885811   8.575156
P150065771   2015-03-07     659.74   7.583218   9.122861
P150018951   2015-02-04     671.67   5.597250   6.768303
P150067189   2015-01-06     696.74  12.012759  12.979900
P150062428   2015-03-11     697.17  21.126364  22.618413
P150025574   2015-03-24     702.20   7.802222   9.192073
P150065551   2015-02-28     709.91   6.119914   7.477301
P150025526   2015-03-07     758.81   5.161973   5.111142
P150033993   2015-01-10     771.27  16.068125  14.611827
P150025347   2015-01-17     790.29   6.812845   6.496133
P150025527   2015-02-16     794.41  10.055823  10.440605
P150067329   2015-01-06     838.20  21.492308  22.143111
P150062370   2015-02-15     886.24   8.282617   8.848037
P150025449   2015-02-22     903.51   7.925526   8.856094
P150062409   2015-03-22     938.80  23.470000  22.007291
P150025508   2015-01-11     947.38  13.932059  13.889055
P150025521   2015-01-23     991.25   8.125000   9.425661
P150067291   2015-02-14    1038.61  20.364902  16.669705
P150062392   2015-01-04    1084.30  25.816667  21.326556
P150067311   2015-01-18    1106.32  19.074483  20.570341
P150028611   2015-01-18    1228.97  10.972946  10.740866
P150033891   2015-02-05    1364.49  19.218169  21.530443
P150028599   2015-01-11    1439.42  19.991944  14.601324

[8057 rows x 4 columns]

In [27]:
air[air["ONAIR_MINS"] > 50]

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
1039,P150028603,2015-01-01,2015-01-01 08:01:29,2015-01-01 08:57:35,56.12,NaN,NaN
3532,P150028674,2015-02-15,2015-02-15 12:00:00,2015-02-15 12:58:04,58.08,NaN,NaN
3550,P150028674,2015-01-03,2015-01-03 14:00:00,2015-01-03 14:50:24,50.42,Lindquist Kerstin,NaN
5734,P150033789,2015-01-11,2015-01-11 19:00:00,2015-01-11 19:50:55,50.93,NaN,NaN
5738,P150033789,2015-01-11,2015-01-11 09:00:18,2015-01-11 09:51:28,51.18,NaN,NaN
5744,P150033789,2015-01-10,2015-01-10 23:00:00,2015-01-10 23:51:13,51.23,NaN,NaN
5750,P150033789,2015-01-10,2015-01-10 20:00:00,2015-01-10 20:51:13,51.23,Killinger Shawn,NaN
6742,P150062392,2015-01-05,2015-01-05 00:01:21,2015-01-05 00:58:48,57.47,NaN,NaN
6743,P150062392,2015-01-04,2015-01-04 22:00:42,2015-01-04 22:58:56,58.25,NaN,NaN
6745,P150062392,2015-01-04,2015-01-04 20:00:47,2015-01-04 20:59:59,59.22,NaN,NaN
6755,P150062392,2015-01-04,2015-01-04 12:00:43,2015-01-04 12:58:42,58.00,NaN,NaN
6764,P150062392,2015-01-04,2015-01-04 21:01:20,2015-01-04 21:58:49,57.50,Wheeler Dan,NaN
6766,P150062392,2015-01-04,2015-01-04 18:02:04,2015-01-04 18:59:59,57.93,Bauer Jill,NaN
6767,P150062392,2015-01-04,2015-01-04 16:00:03,2015-01-04 16:59:32,59.50,Bauer Jill,NaN
6775,P150062392,2015-01-04,2015-01-04 09:00:43,2015-01-04 09:58:42,58.00,Hughes Dan,NaN
9458,P150033993,2015-01-10,2015-01-10 14:00:00,2015-01-10 14:59:06,59.12,Bauer Jill,NaN
11151,P150062049,2015-03-14,2015-03-14 05:01:25,2015-03-14 05:59:40,58.27,NaN,NaN
11152,P150062049,2015-03-12,2015-03-12 18:00:15,2015-03-12 18:58:30,58.27,NaN,NaN
11658,P150028449,2015-01-11,2015-01-11 11:02:34,2015-01-11 11:59:59,57.43,NaN,NaN
11661,P150028449,2015-01-11,2015-01-11 02:00:00,2015-01-11 02:58:16,58.28,NaN,NaN
11666,P150028449,2015-01-10,2015-01-10 22:00:57,2015-01-10 22:59:31,58.58,Killinger Shawn,NaN
11738,P150025508,2015-01-11,2015-01-11 18:02:12,2015-01-11 18:59:08,56.95,NaN,NaN
11858,P150028599,2015-03-15,2015-03-15 15:02:04,2015-03-15 15:59:42,57.65,NaN,NaN
11861,P150028599,2015-03-15,2015-03-15 10:02:05,2015-03-15 10:59:45,57.68,NaN,NaN
11867,P150028599,2015-03-15,2015-03-15 07:02:05,2015-03-15 07:59:45,57.68,Stauffer Stacey,NaN
13518,P150067222,2015-03-19,2015-03-19 20:00:49,2015-03-19 20:58:16,57.47,NaN,NaN
13585,P150067310,2015-03-03,2015-03-03 09:00:54,2015-03-03 09:58:33,57.67,NaN,NaN
13586,P150067310,2015-03-03,2015-03-03 06:00:54,2015-03-03 06:58:34,57.68,Hughes Dan,NaN
15026,P150062089,2015-03-15,2015-03-15 05:00:51,2015-03-15 05:59:12,58.37,NaN,NaN
15030,P150062089,2015-03-13,2015-03-13 16:00:33,2015-03-13 16:58:54,58.37,NaN,NaN
...,...,...,...,...,...,...,...
41318,P150062342,2015-02-14,2015-02-14 22:00:04,2015-02-14 22:58:56,58.88,Domeier Rick,NaN
41321,P150062342,2015-02-13,2015-02-13 22:00:54,2015-02-13 22:59:02,58.15,NaN,NaN
41322,P150062342,2015-02-13,2015-02-13 19:00:54,2015-02-13 19:59:02,58.15,Gracie Carolyn,NaN
41478,P150067291,2015-03-15,2015-03-15 06:00:32,2015-03-15 06:58:21,57.83,Stauffer Stacey,NaN
41495,P150067291,2015-02-14,2015-02-14 13:01:22,2015-02-14 13:58:23,57.03,NaN,NaN
41497,P150067291,2015-02-14,2015-02-14 08:00:00,2015-02-14 08:55:05,55.10,NaN,NaN
41520,P150067291,2015-02-14,2015-02-14 06:00:25,2015-02-14 06:57:28,57.07,Boesing Rachel,NaN
49943,P150067245,2015-02-28,2015-02-28 18:01:27,2015-02-28 18:58:26,57.00,NaN,NaN
49970,P150067245,2015-02-28,2015-02-28 14:01:32,2015-02-28 14:58:31,57.00,Killinger Shawn,NaN
52080,P150018305,2015-03-02,2015-03-02 18:01:25,2015-03-02 18:58:49,57.42,Rudolph TreacyJane,NaN
55860,P150062428,2015-03-11,2015-03-11 08:00:26,2015-03-11 08:59:16,58.85,Hughes Dan,NaN
55865,P150062428,2015-03-11,2015-03-11 00:00:21,2015-03-11 00:59:46,59.43,Domeier Rick,NaN
55870,P150062428,2015-03-11,2015-03-11 19:01:26,2015-03-11 19:59:19,57.90,Bauer Jill,NaN
55871,P150062428,2015-03-11,2015-03-11 00:00:20,2015-03-11 00:59:45,59.43,NaN,NaN
55876,P150062428,2015-03-11,2015-03-11 03:00:20,2015-03-11 03:59:45,59.43,NaN,NaN
55883,P150062428,2015-03-11,2015-03-11 11:00:25,2015-03-11 11:59:16,58.87,NaN,NaN
59015,P150062409,2015-03-22,2015-03-22 15:00:00,2015-03-22 15:58:10,58.18,NaN,NaN
59017,P150062409,2015-03-22,2015-03-22 12:02:36,2015-03-22 12:58:11,55.60,NaN,NaN
59018,P150062409,2015-03-22,2015-03-22 09:02:00,2015-03-22 09:59:24,57.42,NaN,NaN
59022,P150062409,2015-03-22,2015-03-22 03:00:22,2015-03-22 03:59:09,58.80,NaN,NaN
59029,P150062409,2015-03-22,2015-03-22 20:01:11,2015-03-22 20:58:24,57.23,Gracie Carolyn,NaN
59037,P150062409,2015-03-22,2015-03-22 11:02:36,2015-03-22 11:58:11,55.60,RoeMary Beth,NaN
59038,P150062409,2015-03-22,2015-03-22 08:02:00,2015-03-22 08:59:24,57.42,RoeMary Beth,NaN
59042,P150062409,2015-03-22,2015-03-22 00:00:21,2015-03-22 00:59:08,58.80,Domeier Rick,NaN
61741,P150034102,2015-03-31,2015-03-31 19:05:00,2015-03-31 19:56:34,51.58,NaN,NaN
61742,P150034102,2015-03-31,2015-03-31 09:04:00,2015-03-31 09:55:35,51.60,NaN,NaN
61743,P150034102,2015-03-31,2015-03-31 05:04:01,2015-03-31 05:55:36,51.60,NaN,NaN
61744,P150034102,2015-03-30,2015-03-30 22:02:50,2015-03-30 22:54:25,51.60,NaN,NaN
61745,P150034102,2015-03-30,2015-03-30 07:00:46,2015-03-30 07:52:21,51.60,NaN,NaN
61746,P150034102,2015-03-29,2015-03-29 20:01:25,2015-03-29 20:53:00,51.60,Bauer Jill,NaN

In [28]:
def over_1_hour(group):
    return group["ONAIR_MINS"].sum() > 60

In [29]:
len(air)

63468

In [30]:
air.count()

PRODUCT_NBR        63468
ONAIR_DATE         63468
ONAIR_START_TMS    63468
ONAIR_END_TMS      63468
ONAIR_MINS         63468
HOST1              32621
HOST2               3425
dtype: int64

In [31]:
grouped.filter(lambda group: len(group) < 5)

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
119,P150042231,2015-01-01,2015-01-01 06:41:00,2015-01-01 06:41:31,0.53,Abiera Gabrielle,NaN
120,P150042231,2015-01-01,2015-01-01 06:10:59,2015-01-01 06:17:50,6.87,Abiera Gabrielle,NaN
350,P150063986,2015-02-08,2015-02-08 16:08:10,2015-02-08 16:08:45,0.60,NaN,NaN
351,P150063986,2015-02-08,2015-02-08 12:09:14,2015-02-08 12:09:48,0.58,Gracie Carolyn,NaN
439,P150007559,2015-02-18,2015-02-18 07:34:53,2015-02-18 07:41:33,6.68,Brown Jayne,Boesing Rachel
440,P150007559,2015-02-18,2015-02-18 10:34:53,2015-02-18 10:41:33,6.68,NaN,NaN
441,P150015454,2015-01-15,2015-01-15 09:35:57,2015-01-15 09:43:22,7.43,NaN,NaN
442,P150015454,2015-01-15,2015-01-15 06:36:02,2015-01-15 06:43:27,7.43,Popaj Alberti,NaN
443,P150015454,2015-01-01,2015-01-01 04:35:33,2015-01-01 04:42:07,6.58,NaN,NaN
444,P150015454,2015-01-01,2015-01-01 01:35:33,2015-01-01 01:42:06,6.57,Stauffer Stacey,NaN
445,P150032179,2015-03-13,2015-03-13 14:52:09,2015-03-13 14:58:49,6.68,NaN,NaN
446,P150032179,2015-03-13,2015-03-13 11:52:09,2015-03-13 11:58:48,6.67,Williams Leah,NaN
447,P150032179,2015-01-16,2015-01-16 23:10:49,2015-01-16 23:18:46,7.97,NaN,NaN
448,P150032179,2015-01-16,2015-01-16 20:10:49,2015-01-16 20:18:47,7.98,Irvin Albany,NaN
690,P150016223,2015-01-21,2015-01-21 21:13:24,2015-01-21 21:18:43,5.33,NaN,NaN
691,P150016223,2015-01-21,2015-01-21 18:13:24,2015-01-21 18:18:43,5.33,Rudolph TreacyJane,NaN
710,P150043193,2015-02-18,2015-02-18 13:19:35,2015-02-18 13:22:52,3.30,Coffey Jennifer,NaN
711,P150043193,2015-02-18,2015-02-18 21:17:59,2015-02-18 21:21:16,3.30,NaN,NaN
712,P150043193,2015-02-18,2015-02-18 16:19:35,2015-02-18 16:22:52,3.30,NaN,NaN
755,P150028632,2015-02-19,2015-02-19 20:48:07,2015-02-19 20:54:29,6.38,Domeier Rick,NaN
756,P150014422,2015-01-02,2015-01-02 17:00:13,2015-01-02 17:07:47,7.58,NaN,NaN
757,P150014422,2015-01-01,2015-01-01 13:00:45,2015-01-01 13:08:19,7.58,NaN,NaN
758,P150014422,2015-01-01,2015-01-01 10:00:46,2015-01-01 10:08:19,7.57,James-Dementri Pat,NaN
858,P150049174,2015-01-30,2015-01-30 07:43:19,2015-01-30 07:43:51,0.55,NaN,NaN
859,P150049174,2015-01-30,2015-01-30 04:43:20,2015-01-30 04:43:51,0.53,Coffey Jennifer,NaN
872,P150015112,2015-01-21,2015-01-21 22:34:49,2015-01-21 22:41:10,6.37,NaN,NaN
873,P150015112,2015-01-21,2015-01-21 19:34:50,2015-01-21 19:41:11,6.37,Rudolph TreacyJane,NaN
874,P150062487,2015-01-01,2015-01-01 10:24:35,2015-01-01 10:30:20,5.77,NaN,NaN
875,P150062487,2015-01-01,2015-01-01 10:16:55,2015-01-01 10:17:28,0.57,NaN,NaN
876,P150062487,2015-01-01,2015-01-01 07:24:35,2015-01-01 07:30:19,5.75,Hughes Dan,Brown Jayne
...,...,...,...,...,...,...,...
63407,P150056946,2015-03-17,2015-03-17 20:13:48,2015-03-17 20:17:30,3.72,Nester Antonella,Hornback Nancy
63408,P150048127,2015-01-28,2015-01-28 02:18:54,2015-01-28 02:22:18,3.42,Popaj Alberti,NaN
63409,P150048127,2015-01-28,2015-01-28 01:38:53,2015-01-28 01:39:21,0.48,Popaj Alberti,NaN
63410,P150048127,2015-01-28,2015-01-28 05:18:56,2015-01-28 05:22:20,3.42,NaN,NaN
63411,P150048127,2015-01-28,2015-01-28 04:38:55,2015-01-28 04:39:23,0.48,NaN,NaN
63412,P150012438,2015-02-20,2015-02-20 02:42:06,2015-02-20 02:42:24,0.32,Stran Amy,NaN
63413,P150043898,2015-02-06,2015-02-06 04:41:44,2015-02-06 04:45:19,3.60,Stauffer Stacey,NaN
63414,P150043898,2015-02-06,2015-02-06 04:15:07,2015-02-06 04:15:42,0.60,Stauffer Stacey,NaN
63415,P150044592,2015-02-12,2015-02-12 07:56:09,2015-02-12 07:56:38,0.50,Coffey Jennifer,NaN
63416,P150044823,2015-02-01,2015-02-01 05:10:24,2015-02-01 05:16:38,6.25,Boesing Rachel,NaN
63417,P150055974,2015-03-25,2015-03-25 13:36:42,2015-03-25 13:37:05,0.40,RoeMary Beth,NaN
63423,P150054454,2015-01-08,2015-01-08 11:48:51,2015-01-08 11:49:19,0.48,James-Dementri Pat,NaN
63424,P150039125,2015-01-21,2015-01-21 02:51:44,2015-01-21 02:54:08,2.42,Hornback Nancy,NaN
63431,P150048703,2015-02-01,2015-02-01 17:09:13,2015-02-01 17:09:23,0.18,NaN,NaN
63432,P150048703,2015-02-01,2015-02-01 14:09:14,2015-02-01 14:09:23,0.17,Bauer Jill,NaN
63433,P150011613,2015-03-20,2015-03-20 18:32:38,2015-03-20 18:33:03,0.43,Irvin Albany,NaN
63434,P150039292,2015-01-29,2015-01-29 19:59:32,2015-01-29 19:59:44,0.22,Domeier Rick,NaN
63435,P150039292,2015-01-29,2015-01-29 19:12:16,2015-01-29 19:12:37,0.37,Domeier Rick,NaN
63436,P150042816,2015-02-06,2015-02-06 04:18:37,2015-02-06 04:19:35,0.98,Stauffer Stacey,NaN
63437,P150042816,2015-02-06,2015-02-06 04:05:43,2015-02-06 04:10:21,4.65,Stauffer Stacey,NaN
63438,P150042816,2015-01-08,2015-01-08 04:38:30,2015-01-08 04:38:57,0.47,Coffey Jennifer,NaN
63449,P150055829,2015-01-22,2015-01-22 17:45:59,2015-01-22 17:48:26,2.47,Williams Leah,NaN
63450,P150055825,2015-02-01,2015-02-01 10:42:34,2015-02-01 10:42:59,0.43,James-Dementri Pat,NaN
63451,P150039536,2015-03-12,2015-03-12 04:27:04,2015-03-12 04:30:30,3.45,Popaj Alberti,NaN
63452,P150039536,2015-03-12,2015-03-12 07:27:04,2015-03-12 07:30:29,3.43,NaN,NaN
63453,P150041841,2015-02-12,2015-02-12 05:09:47,2015-02-12 05:10:20,0.57,Popaj Alberti,NaN
63454,P150041841,2015-02-12,2015-02-12 04:26:08,2015-02-12 04:26:41,0.57,Popaj Alberti,NaN
63465,P150044973,2015-03-14,2015-03-14 04:40:21,2015-03-14 04:40:58,0.63,Stauffer Stacey,NaN
63466,P150048966,2015-03-12,2015-03-12 05:25:21,2015-03-12 05:25:44,0.40,Popaj Alberti,NaN
63467,P150048966,2015-03-12,2015-03-12 08:25:21,2015-03-12 08:25:44,0.40,NaN,NaN

In [33]:
grouped.filter(lambda group: group["ONAIR_DATE"].min() > "2015-03-10")

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
1167,P150008647,2015-03-11,2015-03-11 13:35:44,2015-03-11 13:48:09,12.43,Coffey Jennifer,NaN
1168,P150008647,2015-03-11,2015-03-11 13:19:01,2015-03-11 13:19:23,0.38,Coffey Jennifer,NaN
1169,P150008647,2015-03-11,2015-03-11 13:00:54,2015-03-11 13:01:34,0.68,Coffey Jennifer,NaN
1170,P150008647,2015-03-11,2015-03-11 16:35:44,2015-03-11 16:48:10,12.45,NaN,NaN
1171,P150008647,2015-03-11,2015-03-11 16:19:01,2015-03-11 16:19:22,0.37,NaN,NaN
1172,P150008647,2015-03-11,2015-03-11 16:00:55,2015-03-11 16:01:34,0.67,NaN,NaN
2105,P150012273,2015-03-30,2015-03-30 17:32:34,2015-03-30 17:37:54,5.35,NaN,NaN
2106,P150012273,2015-03-30,2015-03-30 14:32:33,2015-03-30 14:37:54,5.37,Cason Courtney,NaN
2572,P150062185,2015-03-29,2015-03-29 05:30:18,2015-03-29 05:37:30,7.22,Stauffer Stacey,NaN
2573,P150062185,2015-03-29,2015-03-29 05:02:31,2015-03-29 05:02:51,0.35,Stauffer Stacey,NaN
2692,P150008689,2015-03-29,2015-03-29 19:58:35,2015-03-29 19:58:54,0.33,NaN,NaN
2693,P150008689,2015-03-29,2015-03-29 18:02:07,2015-03-29 18:16:51,14.75,NaN,NaN
2694,P150008689,2015-03-22,2015-03-22 01:40:10,2015-03-22 01:54:21,14.20,NaN,NaN
2695,P150008689,2015-03-21,2015-03-21 22:40:10,2015-03-21 22:54:22,14.22,Gonzales Jacque,NaN
2696,P150008689,2015-03-11,2015-03-11 23:35:31,2015-03-11 23:35:54,0.40,Bennett Sandra,NaN
2697,P150008689,2015-03-11,2015-03-11 23:34:48,2015-03-11 23:35:05,0.30,Bennett Sandra,NaN
2698,P150008689,2015-03-11,2015-03-11 23:34:39,2015-03-11 23:34:39,0.02,Bennett Sandra,NaN
2699,P150008689,2015-03-11,2015-03-11 23:00:00,2015-03-11 23:12:22,12.38,Bennett Sandra,NaN
2700,P150008689,2015-03-11,2015-03-11 22:56:11,2015-03-11 22:59:59,3.82,Bennett Sandra,NaN
2724,P150010456,2015-03-22,2015-03-22 21:44:22,2015-03-22 21:48:58,4.62,NaN,NaN
2725,P150010456,2015-03-22,2015-03-22 21:22:10,2015-03-22 21:22:28,0.32,NaN,NaN
3577,P150042044,2015-03-11,2015-03-11 05:52:09,2015-03-11 05:52:27,0.32,Abiera Gabrielle,NaN
3578,P150042044,2015-03-11,2015-03-11 05:24:13,2015-03-11 05:24:49,0.62,Abiera Gabrielle,NaN
3579,P150042044,2015-03-11,2015-03-11 08:52:10,2015-03-11 08:52:26,0.28,NaN,NaN
3580,P150042044,2015-03-11,2015-03-11 08:24:14,2015-03-11 08:24:49,0.60,NaN,NaN
3601,P150010325,2015-03-17,2015-03-17 21:17:18,2015-03-17 21:18:27,1.17,NaN,NaN
3602,P150010325,2015-03-17,2015-03-17 21:15:21,2015-03-17 21:16:53,1.55,NaN,NaN
3603,P150010325,2015-03-17,2015-03-17 21:14:07,2015-03-17 21:14:47,0.68,NaN,NaN
3604,P150010325,2015-03-17,2015-03-17 21:10:44,2015-03-17 21:13:37,2.90,NaN,NaN
4076,P150015554,2015-03-30,2015-03-30 16:20:34,2015-03-30 16:21:01,0.47,NaN,NaN
...,...,...,...,...,...,...,...
63332,P150055612,2015-03-12,2015-03-12 06:22:44,2015-03-12 06:24:53,2.17,Abiera Gabrielle,NaN
63338,P150045892,2015-03-12,2015-03-12 10:44:09,2015-03-12 10:44:21,0.22,Hornback Nancy,NaN
63339,P150045892,2015-03-12,2015-03-12 13:44:07,2015-03-12 13:44:20,0.23,NaN,NaN
63342,P150055947,2015-03-12,2015-03-12 01:29:34,2015-03-12 01:29:59,0.43,Nester Antonella,NaN
63343,P150055947,2015-03-12,2015-03-12 04:29:34,2015-03-12 04:29:59,0.43,NaN,NaN
63346,P150046780,2015-03-12,2015-03-12 01:54:57,2015-03-12 01:55:21,0.42,Nester Antonella,NaN
63347,P150046780,2015-03-12,2015-03-12 04:54:57,2015-03-12 04:55:20,0.40,NaN,NaN
63373,P150055838,2015-03-12,2015-03-12 06:32:31,2015-03-12 06:34:44,2.23,Abiera Gabrielle,NaN
63374,P150055838,2015-03-12,2015-03-12 06:22:19,2015-03-12 06:22:43,0.42,Abiera Gabrielle,NaN
63375,P150011475,2015-03-13,2015-03-13 13:32:20,2015-03-13 13:32:52,0.55,Killinger Shawn,NaN
63384,P150057439,2015-03-14,2015-03-14 05:39:27,2015-03-14 05:43:36,4.17,Stauffer Stacey,NaN
63387,P150056507,2015-03-25,2015-03-25 04:26:54,2015-03-25 04:27:17,0.40,Popaj Alberti,NaN
63407,P150056946,2015-03-17,2015-03-17 20:13:48,2015-03-17 20:17:30,3.72,Nester Antonella,Hornback Nancy
63417,P150055974,2015-03-25,2015-03-25 13:36:42,2015-03-25 13:37:05,0.40,RoeMary Beth,NaN
63433,P150011613,2015-03-20,2015-03-20 18:32:38,2015-03-20 18:33:03,0.43,Irvin Albany,NaN
63451,P150039536,2015-03-12,2015-03-12 04:27:04,2015-03-12 04:30:30,3.45,Popaj Alberti,NaN
63452,P150039536,2015-03-12,2015-03-12 07:27:04,2015-03-12 07:30:29,3.43,NaN,NaN
63455,P150067337,2015-03-16,2015-03-16 02:49:40,2015-03-16 02:49:51,0.20,NaN,NaN
63456,P150067337,2015-03-16,2015-03-16 01:34:46,2015-03-16 01:35:08,0.38,NaN,NaN
63457,P150067337,2015-03-15,2015-03-15 16:36:59,2015-03-15 16:37:08,0.17,NaN,NaN
63458,P150067337,2015-03-15,2015-03-15 16:17:45,2015-03-15 16:17:55,0.18,NaN,NaN
63459,P150067337,2015-03-15,2015-03-15 03:36:16,2015-03-15 03:36:24,0.15,NaN,NaN
63460,P150067337,2015-03-15,2015-03-15 03:17:02,2015-03-15 03:17:13,0.20,NaN,NaN
63461,P150067337,2015-03-15,2015-03-15 18:49:30,2015-03-15 18:49:40,0.18,Irvin Albany,NaN
63462,P150067337,2015-03-15,2015-03-15 17:34:35,2015-03-15 17:34:57,0.38,Irvin Albany,NaN
63463,P150067337,2015-03-15,2015-03-15 00:36:17,2015-03-15 00:36:25,0.15,Hughes Dan,NaN
63464,P150067337,2015-03-15,2015-03-15 00:17:02,2015-03-15 00:17:12,0.18,Hughes Dan,NaN
63465,P150044973,2015-03-14,2015-03-14 04:40:21,2015-03-14 04:40:58,0.63,Stauffer Stacey,NaN
63466,P150048966,2015-03-12,2015-03-12 05:25:21,2015-03-12 05:25:44,0.40,Popaj Alberti,NaN
63467,P150048966,2015-03-12,2015-03-12 08:25:21,2015-03-12 08:25:44,0.40,NaN,NaN

In [ ]:
###### select * from (select min(ONAIR_DATE) from air groupby PRODUCT_NBR ) as air_date
###### where air_date.ONAIR_DATE > "2015-03-10"

In [34]:
air_date = air.groupby("PRODUCT_NBR").agg({"ONAIR_DATE" : min})

In [37]:
air_date[air_date["ONAIR_DATE"] > "2015-03-10"]

             ONAIR_DATE
PRODUCT_NBR
P150000023   2015-03-15
P150000088   2015-03-13
P150000706   2015-03-26
P150000862   2015-03-17
P150000983   2015-03-23
P150001400   2015-03-20
P150001434   2015-03-22
P150001536   2015-03-27
P150001539   2015-03-14
P150001781   2015-03-16
P150001794   2015-03-14
P150001883   2015-03-30
P150002057   2015-03-20
P150002067   2015-03-19
P150002070   2015-03-16
P150002099   2015-03-28
P150002227   2015-03-23
P150002470   2015-03-23
P150002532   2015-03-11
P150002746   2015-03-11
P150002784   2015-03-23
P150002803   2015-03-28
P150002897   2015-03-23
P150002923   2015-03-13
P150003000   2015-03-26
P150003124   2015-03-26
P150003224   2015-03-24
P150003228   2015-03-13
P150003241   2015-03-13
P150003249   2015-03-20
...                 ...
P150065825   2015-03-22
P150065835   2015-03-30
P150065839   2015-03-26
P150065840   2015-03-22
P150065841   2015-03-31
P150065842   2015-03-23
P150065855   2015-03-22
P150065860   2015-03-22
P150065865   2015-03-19
P150066532   2015-03-26
P150066542   2015-03-21
P150066812   2015-03-15
P150066832   2015-03-15
P150066912   2015-03-24
P150066967   2015-03-15
P150067154   2015-03-12
P150067208   2015-03-15
P150067222   2015-03-15
P150067240   2015-03-18
P150067247   2015-03-18
P150067272   2015-03-15
P150067288   2015-03-29
P150067298   2015-03-12
P150067301   2015-03-21
P150067309   2015-03-15
P150067312   2015-03-15
P150067316   2015-03-15
P150067327   2015-03-15
P150067335   2015-03-15
P150067337   2015-03-15

[1432 rows x 1 columns]

In [39]:
air[air["ONAIR_DATE"] > "2015-03-10"]

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
67,P150000250,2015-03-25,2015-03-25 17:50:40,2015-03-25 17:57:55,7.27,NaN,NaN
68,P150000250,2015-03-25,2015-03-25 17:03:57,2015-03-25 17:08:38,4.70,NaN,NaN
69,P150000250,2015-03-25,2015-03-25 17:00:00,2015-03-25 17:03:41,3.70,NaN,NaN
70,P150000250,2015-03-25,2015-03-25 16:56:52,2015-03-25 16:59:59,3.13,NaN,NaN
71,P150000250,2015-03-25,2015-03-25 16:51:21,2015-03-25 16:51:53,0.55,NaN,NaN
72,P150000250,2015-03-24,2015-03-24 11:51:36,2015-03-24 11:58:52,7.28,Gracie Carolyn,NaN
73,P150000250,2015-03-24,2015-03-24 11:04:53,2015-03-24 11:09:35,4.72,Gracie Carolyn,NaN
74,P150000250,2015-03-24,2015-03-24 11:00:00,2015-03-24 11:04:37,4.63,Gracie Carolyn,NaN
75,P150000250,2015-03-24,2015-03-24 10:57:48,2015-03-24 10:59:59,2.20,Gracie Carolyn,NaN
76,P150000250,2015-03-24,2015-03-24 10:52:17,2015-03-24 10:52:49,0.55,Gracie Carolyn,NaN
77,P150000250,2015-03-24,2015-03-24 10:01:54,2015-03-24 10:02:27,0.57,Gracie Carolyn,NaN
78,P150000250,2015-03-24,2015-03-24 14:51:36,2015-03-24 14:58:52,7.28,NaN,NaN
79,P150000250,2015-03-24,2015-03-24 14:04:53,2015-03-24 14:09:35,4.72,NaN,NaN
80,P150000250,2015-03-24,2015-03-24 14:00:00,2015-03-24 14:04:37,4.63,NaN,NaN
81,P150000250,2015-03-24,2015-03-24 13:57:48,2015-03-24 13:59:59,2.20,NaN,NaN
82,P150000250,2015-03-24,2015-03-24 13:52:18,2015-03-24 13:52:50,0.55,NaN,NaN
83,P150000250,2015-03-24,2015-03-24 13:01:53,2015-03-24 13:02:27,0.58,NaN,NaN
84,P150000250,2015-03-11,2015-03-11 06:46:18,2015-03-11 06:59:57,13.67,Hornback Nancy,NaN
85,P150000250,2015-03-11,2015-03-11 06:34:10,2015-03-11 06:34:48,0.65,Hornback Nancy,NaN
86,P150000250,2015-03-11,2015-03-11 06:01:00,2015-03-11 06:01:32,0.55,Hornback Nancy,NaN
87,P150000250,2015-03-18,2015-03-18 02:41:09,2015-03-18 02:48:52,7.73,NaN,NaN
88,P150000250,2015-03-18,2015-03-18 02:24:10,2015-03-18 02:24:48,0.65,NaN,NaN
89,P150000250,2015-03-11,2015-03-11 20:46:10,2015-03-11 20:58:13,12.07,NaN,NaN
90,P150000250,2015-03-11,2015-03-11 20:07:39,2015-03-11 20:08:00,0.37,NaN,NaN
91,P150000250,2015-03-11,2015-03-11 09:46:19,2015-03-11 09:59:58,13.67,NaN,NaN
92,P150000250,2015-03-11,2015-03-11 09:34:10,2015-03-11 09:34:48,0.65,NaN,NaN
93,P150000250,2015-03-11,2015-03-11 09:01:01,2015-03-11 09:01:31,0.52,NaN,NaN
125,P150066849,2015-03-25,2015-03-25 06:16:59,2015-03-25 06:25:02,8.07,NaN,NaN
126,P150066849,2015-03-24,2015-03-24 06:16:58,2015-03-24 06:25:01,8.07,Stauffer Stacey,NaN
127,P150066849,2015-03-24,2015-03-24 09:16:58,2015-03-24 09:25:00,8.05,NaN,NaN
...,...,...,...,...,...,...,...
63367,P150041813,2015-03-25,2015-03-25 04:27:18,2015-03-25 04:27:55,0.63,Popaj Alberti,NaN
63373,P150055838,2015-03-12,2015-03-12 06:32:31,2015-03-12 06:34:44,2.23,Abiera Gabrielle,NaN
63374,P150055838,2015-03-12,2015-03-12 06:22:19,2015-03-12 06:22:43,0.42,Abiera Gabrielle,NaN
63375,P150011475,2015-03-13,2015-03-13 13:32:20,2015-03-13 13:32:52,0.55,Killinger Shawn,NaN
63384,P150057439,2015-03-14,2015-03-14 05:39:27,2015-03-14 05:43:36,4.17,Stauffer Stacey,NaN
63387,P150056507,2015-03-25,2015-03-25 04:26:54,2015-03-25 04:27:17,0.40,Popaj Alberti,NaN
63407,P150056946,2015-03-17,2015-03-17 20:13:48,2015-03-17 20:17:30,3.72,Nester Antonella,Hornback Nancy
63417,P150055974,2015-03-25,2015-03-25 13:36:42,2015-03-25 13:37:05,0.40,RoeMary Beth,NaN
63433,P150011613,2015-03-20,2015-03-20 18:32:38,2015-03-20 18:33:03,0.43,Irvin Albany,NaN
63439,P150048200,2015-03-23,2015-03-23 04:56:57,2015-03-23 04:59:28,2.53,Abiera Gabrielle,NaN
63440,P150048200,2015-03-23,2015-03-23 04:37:51,2015-03-23 04:38:14,0.40,Abiera Gabrielle,NaN
63441,P150048200,2015-03-23,2015-03-23 04:20:31,2015-03-23 04:20:49,0.32,Abiera Gabrielle,NaN
63442,P150048200,2015-03-23,2015-03-23 07:56:57,2015-03-23 07:59:27,2.52,NaN,NaN
63443,P150048200,2015-03-23,2015-03-23 07:37:52,2015-03-23 07:38:13,0.37,NaN,NaN
63444,P150048200,2015-03-23,2015-03-23 07:20:31,2015-03-23 07:20:49,0.32,NaN,NaN
63451,P150039536,2015-03-12,2015-03-12 04:27:04,2015-03-12 04:30:30,3.45,Popaj Alberti,NaN
63452,P150039536,2015-03-12,2015-03-12 07:27:04,2015-03-12 07:30:29,3.43,NaN,NaN
63455,P150067337,2015-03-16,2015-03-16 02:49:40,2015-03-16 02:49:51,0.20,NaN,NaN
63456,P150067337,2015-03-16,2015-03-16 01:34:46,2015-03-16 01:35:08,0.38,NaN,NaN
63457,P150067337,2015-03-15,2015-03-15 16:36:59,2015-03-15 16:37:08,0.17,NaN,NaN
63458,P150067337,2015-03-15,2015-03-15 16:17:45,2015-03-15 16:17:55,0.18,NaN,NaN
63459,P150067337,2015-03-15,2015-03-15 03:36:16,2015-03-15 03:36:24,0.15,NaN,NaN
63460,P150067337,2015-03-15,2015-03-15 03:17:02,2015-03-15 03:17:13,0.20,NaN,NaN
63461,P150067337,2015-03-15,2015-03-15 18:49:30,2015-03-15 18:49:40,0.18,Irvin Albany,NaN
63462,P150067337,2015-03-15,2015-03-15 17:34:35,2015-03-15 17:34:57,0.38,Irvin Albany,NaN
63463,P150067337,2015-03-15,2015-03-15 00:36:17,2015-03-15 00:36:25,0.15,Hughes Dan,NaN
63464,P150067337,2015-03-15,2015-03-15 00:17:02,2015-03-15 00:17:12,0.18,Hughes Dan,NaN
63465,P150044973,2015-03-14,2015-03-14 04:40:21,2015-03-14 04:40:58,0.63,Stauffer Stacey,NaN
63466,P150048966,2015-03-12,2015-03-12 05:25:21,2015-03-12 05:25:44,0.40,Popaj Alberti,NaN
63467,P150048966,2015-03-12,2015-03-12 08:25:21,2015-03-12 08:25:44,0.40,NaN,NaN

In [40]:
grouped.filter(lambda group: group["ONAIR_MINS"].count() < 5)

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
119,P150042231,2015-01-01,2015-01-01 06:41:00,2015-01-01 06:41:31,0.53,Abiera Gabrielle,NaN
120,P150042231,2015-01-01,2015-01-01 06:10:59,2015-01-01 06:17:50,6.87,Abiera Gabrielle,NaN
350,P150063986,2015-02-08,2015-02-08 16:08:10,2015-02-08 16:08:45,0.60,NaN,NaN
351,P150063986,2015-02-08,2015-02-08 12:09:14,2015-02-08 12:09:48,0.58,Gracie Carolyn,NaN
439,P150007559,2015-02-18,2015-02-18 07:34:53,2015-02-18 07:41:33,6.68,Brown Jayne,Boesing Rachel
440,P150007559,2015-02-18,2015-02-18 10:34:53,2015-02-18 10:41:33,6.68,NaN,NaN
441,P150015454,2015-01-15,2015-01-15 09:35:57,2015-01-15 09:43:22,7.43,NaN,NaN
442,P150015454,2015-01-15,2015-01-15 06:36:02,2015-01-15 06:43:27,7.43,Popaj Alberti,NaN
443,P150015454,2015-01-01,2015-01-01 04:35:33,2015-01-01 04:42:07,6.58,NaN,NaN
444,P150015454,2015-01-01,2015-01-01 01:35:33,2015-01-01 01:42:06,6.57,Stauffer Stacey,NaN
445,P150032179,2015-03-13,2015-03-13 14:52:09,2015-03-13 14:58:49,6.68,NaN,NaN
446,P150032179,2015-03-13,2015-03-13 11:52:09,2015-03-13 11:58:48,6.67,Williams Leah,NaN
447,P150032179,2015-01-16,2015-01-16 23:10:49,2015-01-16 23:18:46,7.97,NaN,NaN
448,P150032179,2015-01-16,2015-01-16 20:10:49,2015-01-16 20:18:47,7.98,Irvin Albany,NaN
690,P150016223,2015-01-21,2015-01-21 21:13:24,2015-01-21 21:18:43,5.33,NaN,NaN
691,P150016223,2015-01-21,2015-01-21 18:13:24,2015-01-21 18:18:43,5.33,Rudolph TreacyJane,NaN
710,P150043193,2015-02-18,2015-02-18 13:19:35,2015-02-18 13:22:52,3.30,Coffey Jennifer,NaN
711,P150043193,2015-02-18,2015-02-18 21:17:59,2015-02-18 21:21:16,3.30,NaN,NaN
712,P150043193,2015-02-18,2015-02-18 16:19:35,2015-02-18 16:22:52,3.30,NaN,NaN
755,P150028632,2015-02-19,2015-02-19 20:48:07,2015-02-19 20:54:29,6.38,Domeier Rick,NaN
756,P150014422,2015-01-02,2015-01-02 17:00:13,2015-01-02 17:07:47,7.58,NaN,NaN
757,P150014422,2015-01-01,2015-01-01 13:00:45,2015-01-01 13:08:19,7.58,NaN,NaN
758,P150014422,2015-01-01,2015-01-01 10:00:46,2015-01-01 10:08:19,7.57,James-Dementri Pat,NaN
858,P150049174,2015-01-30,2015-01-30 07:43:19,2015-01-30 07:43:51,0.55,NaN,NaN
859,P150049174,2015-01-30,2015-01-30 04:43:20,2015-01-30 04:43:51,0.53,Coffey Jennifer,NaN
872,P150015112,2015-01-21,2015-01-21 22:34:49,2015-01-21 22:41:10,6.37,NaN,NaN
873,P150015112,2015-01-21,2015-01-21 19:34:50,2015-01-21 19:41:11,6.37,Rudolph TreacyJane,NaN
874,P150062487,2015-01-01,2015-01-01 10:24:35,2015-01-01 10:30:20,5.77,NaN,NaN
875,P150062487,2015-01-01,2015-01-01 10:16:55,2015-01-01 10:17:28,0.57,NaN,NaN
876,P150062487,2015-01-01,2015-01-01 07:24:35,2015-01-01 07:30:19,5.75,Hughes Dan,Brown Jayne
...,...,...,...,...,...,...,...
63407,P150056946,2015-03-17,2015-03-17 20:13:48,2015-03-17 20:17:30,3.72,Nester Antonella,Hornback Nancy
63408,P150048127,2015-01-28,2015-01-28 02:18:54,2015-01-28 02:22:18,3.42,Popaj Alberti,NaN
63409,P150048127,2015-01-28,2015-01-28 01:38:53,2015-01-28 01:39:21,0.48,Popaj Alberti,NaN
63410,P150048127,2015-01-28,2015-01-28 05:18:56,2015-01-28 05:22:20,3.42,NaN,NaN
63411,P150048127,2015-01-28,2015-01-28 04:38:55,2015-01-28 04:39:23,0.48,NaN,NaN
63412,P150012438,2015-02-20,2015-02-20 02:42:06,2015-02-20 02:42:24,0.32,Stran Amy,NaN
63413,P150043898,2015-02-06,2015-02-06 04:41:44,2015-02-06 04:45:19,3.60,Stauffer Stacey,NaN
63414,P150043898,2015-02-06,2015-02-06 04:15:07,2015-02-06 04:15:42,0.60,Stauffer Stacey,NaN
63415,P150044592,2015-02-12,2015-02-12 07:56:09,2015-02-12 07:56:38,0.50,Coffey Jennifer,NaN
63416,P150044823,2015-02-01,2015-02-01 05:10:24,2015-02-01 05:16:38,6.25,Boesing Rachel,NaN
63417,P150055974,2015-03-25,2015-03-25 13:36:42,2015-03-25 13:37:05,0.40,RoeMary Beth,NaN
63423,P150054454,2015-01-08,2015-01-08 11:48:51,2015-01-08 11:49:19,0.48,James-Dementri Pat,NaN
63424,P150039125,2015-01-21,2015-01-21 02:51:44,2015-01-21 02:54:08,2.42,Hornback Nancy,NaN
63431,P150048703,2015-02-01,2015-02-01 17:09:13,2015-02-01 17:09:23,0.18,NaN,NaN
63432,P150048703,2015-02-01,2015-02-01 14:09:14,2015-02-01 14:09:23,0.17,Bauer Jill,NaN
63433,P150011613,2015-03-20,2015-03-20 18:32:38,2015-03-20 18:33:03,0.43,Irvin Albany,NaN
63434,P150039292,2015-01-29,2015-01-29 19:59:32,2015-01-29 19:59:44,0.22,Domeier Rick,NaN
63435,P150039292,2015-01-29,2015-01-29 19:12:16,2015-01-29 19:12:37,0.37,Domeier Rick,NaN
63436,P150042816,2015-02-06,2015-02-06 04:18:37,2015-02-06 04:19:35,0.98,Stauffer Stacey,NaN
63437,P150042816,2015-02-06,2015-02-06 04:05:43,2015-02-06 04:10:21,4.65,Stauffer Stacey,NaN
63438,P150042816,2015-01-08,2015-01-08 04:38:30,2015-01-08 04:38:57,0.47,Coffey Jennifer,NaN
63449,P150055829,2015-01-22,2015-01-22 17:45:59,2015-01-22 17:48:26,2.47,Williams Leah,NaN
63450,P150055825,2015-02-01,2015-02-01 10:42:34,2015-02-01 10:42:59,0.43,James-Dementri Pat,NaN
63451,P150039536,2015-03-12,2015-03-12 04:27:04,2015-03-12 04:30:30,3.45,Popaj Alberti,NaN
63452,P150039536,2015-03-12,2015-03-12 07:27:04,2015-03-12 07:30:29,3.43,NaN,NaN
63453,P150041841,2015-02-12,2015-02-12 05:09:47,2015-02-12 05:10:20,0.57,Popaj Alberti,NaN
63454,P150041841,2015-02-12,2015-02-12 04:26:08,2015-02-12 04:26:41,0.57,Popaj Alberti,NaN
63465,P150044973,2015-03-14,2015-03-14 04:40:21,2015-03-14 04:40:58,0.63,Stauffer Stacey,NaN
63466,P150048966,2015-03-12,2015-03-12 05:25:21,2015-03-12 05:25:44,0.40,Popaj Alberti,NaN
63467,P150048966,2015-03-12,2015-03-12 08:25:21,2015-03-12 08:25:44,0.40,NaN,NaN

In [41]:
######   60   
grouped.filter(lambda group: group["ONAIR_MINS"].sum() > 60)

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
0,P150028635,2015-01-02,2015-01-02 01:33:02,2015-01-02 01:58:20,25.32,NaN,NaN
1,P150028635,2015-01-02,2015-01-02 01:21:14,2015-01-02 01:32:48,11.58,NaN,NaN
2,P150028635,2015-01-01,2015-01-01 22:34:30,2015-01-01 22:58:17,23.80,NaN,NaN
3,P150028635,2015-01-01,2015-01-01 22:00:05,2015-01-01 22:33:02,32.97,NaN,NaN
4,P150028635,2015-01-01,2015-01-01 19:00:00,2015-01-01 19:00:01,0.03,NaN,NaN
5,P150028635,2015-01-01,2015-01-01 18:59:39,2015-01-01 18:59:59,0.35,NaN,NaN
6,P150028635,2015-01-01,2015-01-01 18:32:54,2015-01-01 18:44:14,11.35,NaN,NaN
7,P150028635,2015-01-01,2015-01-01 18:00:03,2015-01-01 18:32:40,32.63,NaN,NaN
8,P150028635,2015-01-01,2015-01-01 17:32:08,2015-01-01 17:33:36,1.48,NaN,NaN
9,P150028635,2015-01-01,2015-01-01 16:00:00,2015-01-01 16:00:03,0.07,NaN,NaN
10,P150028635,2015-01-01,2015-01-01 15:59:32,2015-01-01 15:59:59,0.47,NaN,NaN
11,P150028635,2015-01-01,2015-01-01 15:45:13,2015-01-01 15:46:03,0.85,NaN,NaN
12,P150028635,2015-01-01,2015-01-01 15:16:51,2015-01-01 15:21:29,4.65,NaN,NaN
13,P150028635,2015-01-01,2015-01-01 15:00:58,2015-01-01 15:16:38,15.68,NaN,NaN
14,P150028635,2015-01-01,2015-01-01 14:48:37,2015-01-01 14:49:11,0.58,NaN,NaN
15,P150028635,2015-01-01,2015-01-01 14:02:28,2015-01-01 14:28:02,25.58,NaN,NaN
16,P150028635,2015-01-01,2015-01-01 11:26:56,2015-01-01 11:27:33,0.63,NaN,NaN
17,P150028635,2015-01-01,2015-01-01 11:11:29,2015-01-01 11:16:44,5.27,NaN,NaN
18,P150028635,2015-01-01,2015-01-01 11:00:00,2015-01-01 11:11:18,11.32,NaN,NaN
19,P150028635,2015-01-01,2015-01-01 10:55:32,2015-01-01 10:59:59,4.47,NaN,NaN
20,P150028635,2015-01-01,2015-01-01 10:39:37,2015-01-01 10:40:20,0.73,NaN,NaN
21,P150028635,2015-01-01,2015-01-01 10:00:42,2015-01-01 10:01:42,1.02,NaN,NaN
22,P150028635,2015-01-01,2015-01-01 07:00:00,2015-01-01 07:00:15,0.27,NaN,NaN
23,P150028635,2015-01-01,2015-01-01 06:59:37,2015-01-01 06:59:59,0.38,NaN,NaN
24,P150028635,2015-01-01,2015-01-01 06:40:36,2015-01-01 06:41:31,0.93,NaN,NaN
25,P150028635,2015-01-01,2015-01-01 06:17:01,2015-01-01 06:19:48,2.80,NaN,NaN
26,P150028635,2015-01-01,2015-01-01 06:01:36,2015-01-01 06:16:38,15.05,NaN,NaN
27,P150028635,2015-01-01,2015-01-01 05:32:15,2015-01-01 05:33:43,1.48,NaN,NaN
28,P150028635,2015-01-01,2015-01-01 03:39:34,2015-01-01 03:59:17,19.73,NaN,NaN
29,P150028635,2015-01-01,2015-01-01 03:34:25,2015-01-01 03:37:57,3.55,NaN,NaN
...,...,...,...,...,...,...,...
60604,P150025574,2015-03-24,2015-03-24 12:15:52,2015-03-24 12:16:49,0.97,Boesing Rachel,NaN
60605,P150025574,2015-03-24,2015-03-24 12:00:29,2015-03-24 12:15:41,15.22,Boesing Rachel,NaN
60606,P150025574,2015-03-24,2015-03-24 18:59:46,2015-03-24 18:59:59,0.23,RoeMary Beth,Faetsch Sharon
60607,P150025574,2015-03-24,2015-03-24 15:59:04,2015-03-24 15:59:35,0.53,Gonzales Jacque,NaN
60608,P150025574,2015-03-24,2015-03-24 15:19:17,2015-03-24 15:20:36,1.33,Gonzales Jacque,NaN
60609,P150025574,2015-03-24,2015-03-24 15:16:40,2015-03-24 15:18:59,2.33,Gonzales Jacque,NaN
60610,P150025574,2015-03-24,2015-03-24 15:11:36,2015-03-24 15:16:19,4.73,Gonzales Jacque,NaN
60611,P150025574,2015-03-24,2015-03-24 15:00:00,2015-03-24 15:11:18,11.32,Gonzales Jacque,NaN
60612,P150025574,2015-03-24,2015-03-24 14:59:28,2015-03-24 14:59:59,0.53,Boesing Rachel,NaN
60613,P150025574,2015-03-24,2015-03-24 15:48:36,2015-03-24 15:49:13,0.63,NaN,NaN
60614,P150025574,2015-03-24,2015-03-24 15:21:03,2015-03-24 15:25:16,4.23,NaN,NaN
60615,P150025574,2015-03-24,2015-03-24 15:19:38,2015-03-24 15:20:43,1.10,NaN,NaN
60616,P150025574,2015-03-24,2015-03-24 15:17:03,2015-03-24 15:19:24,2.37,NaN,NaN
60617,P150025574,2015-03-24,2015-03-24 15:15:51,2015-03-24 15:16:49,0.98,NaN,NaN
60618,P150025574,2015-03-24,2015-03-24 15:00:29,2015-03-24 15:15:40,15.20,NaN,NaN
60619,P150025574,2015-03-24,2015-03-24 12:31:25,2015-03-24 12:58:50,27.43,NaN,NaN
60620,P150025574,2015-03-24,2015-03-24 12:30:55,2015-03-24 12:31:19,0.42,NaN,NaN
60621,P150025574,2015-03-24,2015-03-24 12:25:50,2015-03-24 12:30:46,4.95,NaN,NaN
60622,P150025574,2015-03-24,2015-03-24 12:00:48,2015-03-24 12:25:43,24.93,NaN,NaN
61363,P150034152,2015-03-13,2015-03-13 02:48:31,2015-03-13 02:58:56,10.43,NaN,NaN
61364,P150034152,2015-03-13,2015-03-13 02:02:29,2015-03-13 02:30:03,27.58,NaN,NaN
61365,P150034152,2015-03-12,2015-03-12 23:48:32,2015-03-12 23:58:56,10.42,Gracie Carolyn,NaN
61366,P150034152,2015-03-12,2015-03-12 23:02:30,2015-03-12 23:30:03,27.57,Gracie Carolyn,NaN
61367,P150034152,2015-03-12,2015-03-12 22:47:17,2015-03-12 22:47:46,0.50,Gracie Carolyn,NaN
61741,P150034102,2015-03-31,2015-03-31 19:05:00,2015-03-31 19:56:34,51.58,NaN,NaN
61742,P150034102,2015-03-31,2015-03-31 09:04:00,2015-03-31 09:55:35,51.60,NaN,NaN
61743,P150034102,2015-03-31,2015-03-31 05:04:01,2015-03-31 05:55:36,51.60,NaN,NaN
61744,P150034102,2015-03-30,2015-03-30 22:02:50,2015-03-30 22:54:25,51.60,NaN,NaN
61745,P150034102,2015-03-30,2015-03-30 07:00:46,2015-03-30 07:52:21,51.60,NaN,NaN
61746,P150034102,2015-03-29,2015-03-29 20:01:25,2015-03-29 20:53:00,51.60,Bauer Jill,NaN

In [42]:
grouped.filter(over_1_hour)

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
0,P150028635,2015-01-02,2015-01-02 01:33:02,2015-01-02 01:58:20,25.32,NaN,NaN
1,P150028635,2015-01-02,2015-01-02 01:21:14,2015-01-02 01:32:48,11.58,NaN,NaN
2,P150028635,2015-01-01,2015-01-01 22:34:30,2015-01-01 22:58:17,23.80,NaN,NaN
3,P150028635,2015-01-01,2015-01-01 22:00:05,2015-01-01 22:33:02,32.97,NaN,NaN
4,P150028635,2015-01-01,2015-01-01 19:00:00,2015-01-01 19:00:01,0.03,NaN,NaN
5,P150028635,2015-01-01,2015-01-01 18:59:39,2015-01-01 18:59:59,0.35,NaN,NaN
6,P150028635,2015-01-01,2015-01-01 18:32:54,2015-01-01 18:44:14,11.35,NaN,NaN
7,P150028635,2015-01-01,2015-01-01 18:00:03,2015-01-01 18:32:40,32.63,NaN,NaN
8,P150028635,2015-01-01,2015-01-01 17:32:08,2015-01-01 17:33:36,1.48,NaN,NaN
9,P150028635,2015-01-01,2015-01-01 16:00:00,2015-01-01 16:00:03,0.07,NaN,NaN
10,P150028635,2015-01-01,2015-01-01 15:59:32,2015-01-01 15:59:59,0.47,NaN,NaN
11,P150028635,2015-01-01,2015-01-01 15:45:13,2015-01-01 15:46:03,0.85,NaN,NaN
12,P150028635,2015-01-01,2015-01-01 15:16:51,2015-01-01 15:21:29,4.65,NaN,NaN
13,P150028635,2015-01-01,2015-01-01 15:00:58,2015-01-01 15:16:38,15.68,NaN,NaN
14,P150028635,2015-01-01,2015-01-01 14:48:37,2015-01-01 14:49:11,0.58,NaN,NaN
15,P150028635,2015-01-01,2015-01-01 14:02:28,2015-01-01 14:28:02,25.58,NaN,NaN
16,P150028635,2015-01-01,2015-01-01 11:26:56,2015-01-01 11:27:33,0.63,NaN,NaN
17,P150028635,2015-01-01,2015-01-01 11:11:29,2015-01-01 11:16:44,5.27,NaN,NaN
18,P150028635,2015-01-01,2015-01-01 11:00:00,2015-01-01 11:11:18,11.32,NaN,NaN
19,P150028635,2015-01-01,2015-01-01 10:55:32,2015-01-01 10:59:59,4.47,NaN,NaN
20,P150028635,2015-01-01,2015-01-01 10:39:37,2015-01-01 10:40:20,0.73,NaN,NaN
21,P150028635,2015-01-01,2015-01-01 10:00:42,2015-01-01 10:01:42,1.02,NaN,NaN
22,P150028635,2015-01-01,2015-01-01 07:00:00,2015-01-01 07:00:15,0.27,NaN,NaN
23,P150028635,2015-01-01,2015-01-01 06:59:37,2015-01-01 06:59:59,0.38,NaN,NaN
24,P150028635,2015-01-01,2015-01-01 06:40:36,2015-01-01 06:41:31,0.93,NaN,NaN
25,P150028635,2015-01-01,2015-01-01 06:17:01,2015-01-01 06:19:48,2.80,NaN,NaN
26,P150028635,2015-01-01,2015-01-01 06:01:36,2015-01-01 06:16:38,15.05,NaN,NaN
27,P150028635,2015-01-01,2015-01-01 05:32:15,2015-01-01 05:33:43,1.48,NaN,NaN
28,P150028635,2015-01-01,2015-01-01 03:39:34,2015-01-01 03:59:17,19.73,NaN,NaN
29,P150028635,2015-01-01,2015-01-01 03:34:25,2015-01-01 03:37:57,3.55,NaN,NaN
...,...,...,...,...,...,...,...
60604,P150025574,2015-03-24,2015-03-24 12:15:52,2015-03-24 12:16:49,0.97,Boesing Rachel,NaN
60605,P150025574,2015-03-24,2015-03-24 12:00:29,2015-03-24 12:15:41,15.22,Boesing Rachel,NaN
60606,P150025574,2015-03-24,2015-03-24 18:59:46,2015-03-24 18:59:59,0.23,RoeMary Beth,Faetsch Sharon
60607,P150025574,2015-03-24,2015-03-24 15:59:04,2015-03-24 15:59:35,0.53,Gonzales Jacque,NaN
60608,P150025574,2015-03-24,2015-03-24 15:19:17,2015-03-24 15:20:36,1.33,Gonzales Jacque,NaN
60609,P150025574,2015-03-24,2015-03-24 15:16:40,2015-03-24 15:18:59,2.33,Gonzales Jacque,NaN
60610,P150025574,2015-03-24,2015-03-24 15:11:36,2015-03-24 15:16:19,4.73,Gonzales Jacque,NaN
60611,P150025574,2015-03-24,2015-03-24 15:00:00,2015-03-24 15:11:18,11.32,Gonzales Jacque,NaN
60612,P150025574,2015-03-24,2015-03-24 14:59:28,2015-03-24 14:59:59,0.53,Boesing Rachel,NaN
60613,P150025574,2015-03-24,2015-03-24 15:48:36,2015-03-24 15:49:13,0.63,NaN,NaN
60614,P150025574,2015-03-24,2015-03-24 15:21:03,2015-03-24 15:25:16,4.23,NaN,NaN
60615,P150025574,2015-03-24,2015-03-24 15:19:38,2015-03-24 15:20:43,1.10,NaN,NaN
60616,P150025574,2015-03-24,2015-03-24 15:17:03,2015-03-24 15:19:24,2.37,NaN,NaN
60617,P150025574,2015-03-24,2015-03-24 15:15:51,2015-03-24 15:16:49,0.98,NaN,NaN
60618,P150025574,2015-03-24,2015-03-24 15:00:29,2015-03-24 15:15:40,15.20,NaN,NaN
60619,P150025574,2015-03-24,2015-03-24 12:31:25,2015-03-24 12:58:50,27.43,NaN,NaN
60620,P150025574,2015-03-24,2015-03-24 12:30:55,2015-03-24 12:31:19,0.42,NaN,NaN
60621,P150025574,2015-03-24,2015-03-24 12:25:50,2015-03-24 12:30:46,4.95,NaN,NaN
60622,P150025574,2015-03-24,2015-03-24 12:00:48,2015-03-24 12:25:43,24.93,NaN,NaN
61363,P150034152,2015-03-13,2015-03-13 02:48:31,2015-03-13 02:58:56,10.43,NaN,NaN
61364,P150034152,2015-03-13,2015-03-13 02:02:29,2015-03-13 02:30:03,27.58,NaN,NaN
61365,P150034152,2015-03-12,2015-03-12 23:48:32,2015-03-12 23:58:56,10.42,Gracie Carolyn,NaN
61366,P150034152,2015-03-12,2015-03-12 23:02:30,2015-03-12 23:30:03,27.57,Gracie Carolyn,NaN
61367,P150034152,2015-03-12,2015-03-12 22:47:17,2015-03-12 22:47:46,0.50,Gracie Carolyn,NaN
61741,P150034102,2015-03-31,2015-03-31 19:05:00,2015-03-31 19:56:34,51.58,NaN,NaN
61742,P150034102,2015-03-31,2015-03-31 09:04:00,2015-03-31 09:55:35,51.60,NaN,NaN
61743,P150034102,2015-03-31,2015-03-31 05:04:01,2015-03-31 05:55:36,51.60,NaN,NaN
61744,P150034102,2015-03-30,2015-03-30 22:02:50,2015-03-30 22:54:25,51.60,NaN,NaN
61745,P150034102,2015-03-30,2015-03-30 07:00:46,2015-03-30 07:52:21,51.60,NaN,NaN
61746,P150034102,2015-03-29,2015-03-29 20:01:25,2015-03-29 20:53:00,51.60,Bauer Jill,NaN

In [43]:
## lambda 
grouped.filter(lambda group: group["ONAIR_MINS"].sum() > 60)

,PRODUCT_NBR,ONAIR_DATE,ONAIR_START_TMS,ONAIR_END_TMS,ONAIR_MINS,HOST1,HOST2
0,P150028635,2015-01-02,2015-01-02 01:33:02,2015-01-02 01:58:20,25.32,NaN,NaN
1,P150028635,2015-01-02,2015-01-02 01:21:14,2015-01-02 01:32:48,11.58,NaN,NaN
2,P150028635,2015-01-01,2015-01-01 22:34:30,2015-01-01 22:58:17,23.80,NaN,NaN
3,P150028635,2015-01-01,2015-01-01 22:00:05,2015-01-01 22:33:02,32.97,NaN,NaN
4,P150028635,2015-01-01,2015-01-01 19:00:00,2015-01-01 19:00:01,0.03,NaN,NaN
5,P150028635,2015-01-01,2015-01-01 18:59:39,2015-01-01 18:59:59,0.35,NaN,NaN
6,P150028635,2015-01-01,2015-01-01 18:32:54,2015-01-01 18:44:14,11.35,NaN,NaN
7,P150028635,2015-01-01,2015-01-01 18:00:03,2015-01-01 18:32:40,32.63,NaN,NaN
8,P150028635,2015-01-01,2015-01-01 17:32:08,2015-01-01 17:33:36,1.48,NaN,NaN
9,P150028635,2015-01-01,2015-01-01 16:00:00,2015-01-01 16:00:03,0.07,NaN,NaN
10,P150028635,2015-01-01,2015-01-01 15:59:32,2015-01-01 15:59:59,0.47,NaN,NaN
11,P150028635,2015-01-01,2015-01-01 15:45:13,2015-01-01 15:46:03,0.85,NaN,NaN
12,P150028635,2015-01-01,2015-01-01 15:16:51,2015-01-01 15:21:29,4.65,NaN,NaN
13,P150028635,2015-01-01,2015-01-01 15:00:58,2015-01-01 15:16:38,15.68,NaN,NaN
14,P150028635,2015-01-01,2015-01-01 14:48:37,2015-01-01 14:49:11,0.58,NaN,NaN
15,P150028635,2015-01-01,2015-01-01 14:02:28,2015-01-01 14:28:02,25.58,NaN,NaN
16,P150028635,2015-01-01,2015-01-01 11:26:56,2015-01-01 11:27:33,0.63,NaN,NaN
17,P150028635,2015-01-01,2015-01-01 11:11:29,2015-01-01 11:16:44,5.27,NaN,NaN
18,P150028635,2015-01-01,2015-01-01 11:00:00,2015-01-01 11:11:18,11.32,NaN,NaN
19,P150028635,2015-01-01,2015-01-01 10:55:32,2015-01-01 10:59:59,4.47,NaN,NaN
20,P150028635,2015-01-01,2015-01-01 10:39:37,2015-01-01 10:40:20,0.73,NaN,NaN
21,P150028635,2015-01-01,2015-01-01 10:00:42,2015-01-01 10:01:42,1.02,NaN,NaN
22,P150028635,2015-01-01,2015-01-01 07:00:00,2015-01-01 07:00:15,0.27,NaN,NaN
23,P150028635,2015-01-01,2015-01-01 06:59:37,2015-01-01 06:59:59,0.38,NaN,NaN
24,P150028635,2015-01-01,2015-01-01 06:40:36,2015-01-01 06:41:31,0.93,NaN,NaN
25,P150028635,2015-01-01,2015-01-01 06:17:01,2015-01-01 06:19:48,2.80,NaN,NaN
26,P150028635,2015-01-01,2015-01-01 06:01:36,2015-01-01 06:16:38,15.05,NaN,NaN
27,P150028635,2015-01-01,2015-01-01 05:32:15,2015-01-01 05:33:43,1.48,NaN,NaN
28,P150028635,2015-01-01,2015-01-01 03:39:34,2015-01-01 03:59:17,19.73,NaN,NaN
29,P150028635,2015-01-01,2015-01-01 03:34:25,2015-01-01 03:37:57,3.55,NaN,NaN
...,...,...,...,...,...,...,...
60604,P150025574,2015-03-24,2015-03-24 12:15:52,2015-03-24 12:16:49,0.97,Boesing Rachel,NaN
60605,P150025574,2015-03-24,2015-03-24 12:00:29,2015-03-24 12:15:41,15.22,Boesing Rachel,NaN
60606,P150025574,2015-03-24,2015-03-24 18:59:46,2015-03-24 18:59:59,0.23,RoeMary Beth,Faetsch Sharon
60607,P150025574,2015-03-24,2015-03-24 15:59:04,2015-03-24 15:59:35,0.53,Gonzales Jacque,NaN
60608,P150025574,2015-03-24,2015-03-24 15:19:17,2015-03-24 15:20:36,1.33,Gonzales Jacque,NaN
60609,P150025574,2015-03-24,2015-03-24 15:16:40,2015-03-24 15:18:59,2.33,Gonzales Jacque,NaN
60610,P150025574,2015-03-24,2015-03-24 15:11:36,2015-03-24 15:16:19,4.73,Gonzales Jacque,NaN
60611,P150025574,2015-03-24,2015-03-24 15:00:00,2015-03-24 15:11:18,11.32,Gonzales Jacque,NaN
60612,P150025574,2015-03-24,2015-03-24 14:59:28,2015-03-24 14:59:59,0.53,Boesing Rachel,NaN
60613,P150025574,2015-03-24,2015-03-24 15:48:36,2015-03-24 15:49:13,0.63,NaN,NaN
60614,P150025574,2015-03-24,2015-03-24 15:21:03,2015-03-24 15:25:16,4.23,NaN,NaN
60615,P150025574,2015-03-24,2015-03-24 15:19:38,2015-03-24 15:20:43,1.10,NaN,NaN
60616,P150025574,2015-03-24,2015-03-24 15:17:03,2015-03-24 15:19:24,2.37,NaN,NaN
60617,P150025574,2015-03-24,2015-03-24 15:15:51,2015-03-24 15:16:49,0.98,NaN,NaN
60618,P150025574,2015-03-24,2015-03-24 15:00:29,2015-03-24 15:15:40,15.20,NaN,NaN
60619,P150025574,2015-03-24,2015-03-24 12:31:25,2015-03-24 12:58:50,27.43,NaN,NaN
60620,P150025574,2015-03-24,2015-03-24 12:30:55,2015-03-24 12:31:19,0.42,NaN,NaN
60621,P150025574,2015-03-24,2015-03-24 12:25:50,2015-03-24 12:30:46,4.95,NaN,NaN
60622,P150025574,2015-03-24,2015-03-24 12:00:48,2015-03-24 12:25:43,24.93,NaN,NaN
61363,P150034152,2015-03-13,2015-03-13 02:48:31,2015-03-13 02:58:56,10.43,NaN,NaN
61364,P150034152,2015-03-13,2015-03-13 02:02:29,2015-03-13 02:30:03,27.58,NaN,NaN
61365,P150034152,2015-03-12,2015-03-12 23:48:32,2015-03-12 23:58:56,10.42,Gracie Carolyn,NaN
61366,P150034152,2015-03-12,2015-03-12 23:02:30,2015-03-12 23:30:03,27.57,Gracie Carolyn,NaN
61367,P150034152,2015-03-12,2015-03-12 22:47:17,2015-03-12 22:47:46,0.50,Gracie Carolyn,NaN
61741,P150034102,2015-03-31,2015-03-31 19:05:00,2015-03-31 19:56:34,51.58,NaN,NaN
61742,P150034102,2015-03-31,2015-03-31 09:04:00,2015-03-31 09:55:35,51.60,NaN,NaN
61743,P150034102,2015-03-31,2015-03-31 05:04:01,2015-03-31 05:55:36,51.60,NaN,NaN
61744,P150034102,2015-03-30,2015-03-30 22:02:50,2015-03-30 22:54:25,51.60,NaN,NaN
61745,P150034102,2015-03-30,2015-03-30 07:00:46,2015-03-30 07:52:21,51.60,NaN,NaN
61746,P150034102,2015-03-29,2015-03-29 20:01:25,2015-03-29 20:53:00,51.60,Bauer Jill,NaN

In [44]:
## groupby level
min_sums

PRODUCT_NBR  ONAIR_DATE
P150000002   2015-01-05     13.03
             2015-01-16      7.86
             2015-02-07      7.79
             2015-03-05     14.21
             2015-03-23      7.77
             2015-03-28     17.16
P150000004   2015-02-09     12.96
             2015-02-12      6.51
             2015-03-01     16.51
P150000006   2015-01-02     11.17
             2015-02-16      8.12
             2015-03-11     23.35
             2015-03-23     15.32
P150000008   2015-01-10     16.01
             2015-01-22      7.28
             2015-01-26      7.43
             2015-01-27      7.43
             2015-02-06     15.02
P150000009   2015-01-01     19.52
             2015-01-09     15.73
             2015-01-10     17.48
             2015-01-11      8.70
             2015-01-21     39.54
             2015-02-03     14.15
             2015-02-05     13.82
             2015-02-10      7.47
             2015-02-12      9.70
             2015-02-13     26.30
             2015-02-17     15.00
             2015-02-18     14.38
                            ...
P150067328   2015-02-14     23.32
             2015-02-19     22.42
             2015-02-22     20.63
             2015-02-26      7.60
             2015-02-28     13.05
             2015-03-01      6.87
             2015-03-03      8.44
             2015-03-08      0.72
             2015-03-10      7.82
             2015-03-21     14.90
P150067329   2015-01-06     61.00
             2015-01-15     32.13
             2015-01-16     32.12
             2015-03-29    712.95
P150067330   2015-01-10     20.90
             2015-01-13     15.48
             2015-01-15     10.91
P150067331   2015-01-06     14.58
             2015-01-09     14.55
             2015-01-27     15.49
P150067334   2015-01-10     26.10
             2015-01-28     28.90
             2015-02-03     15.18
             2015-02-21     15.28
P150067335   2015-03-15     38.04
P150067336   2015-02-11      3.50
             2015-02-12      0.27
P150067337   2015-03-15      1.59
             2015-03-16      0.58
P150067338   2015-03-04     15.54
Name: ONAIR_MINS, Length: 16520, dtype: float64

In [45]:
min_sums.groupby(level=0)

In [46]:
min_sums.groupby(level=0).agg(np.sum)

PRODUCT_NBR
P150000002      67.82
P150000004      35.98
P150000006      57.96
P150000008      53.17
P150000009     412.35
P150000010      12.44
P150000014     113.72
P150000017      26.10
P150000020      58.47
P150000022      26.10
P150000023       9.10
P150000024      25.12
P150000029      83.93
P150000033      35.83
P150000053      18.75
P150000058      25.33
P150000086      98.61
P150000088      14.54
P150000092      16.56
P150000250     184.52
P150000251      96.99
P150000277      36.50
P150000379      37.65
P150000638      24.14
P150000659       0.54
P150000692      35.11
P150000702      66.07
P150000703      49.78
P150000706      18.09
P150000711      14.65
               ...
P150067301      23.77
P150067302      82.28
P150067303      29.60
P150067305      17.96
P150067306      42.71
P150067307      17.42
P150067308     578.03
P150067309      16.53
P150067310     214.96
P150067311    1106.32
P150067312      17.52
P150067315      57.92
P150067316       7.82
P150067319      63.69
P150067321     524.45
P150067322      53.92
P150067323      32.31
P150067324      57.23
P150067325      42.47
P150067326      74.46
P150067327       8.07
P150067328     125.77
P150067329     838.20
P150067330      47.29
P150067331      44.62
P150067334      85.46
P150067335      38.04
P150067336       3.77
P150067337       2.17
P150067338      15.54
Name: ONAIR_MINS, Length: 8057, dtype: float64

In [47]:
min_sums.groupby(level=0).sum()

PRODUCT_NBR
P150000002      67.82
P150000004      35.98
P150000006      57.96
P150000008      53.17
P150000009     412.35
P150000010      12.44
P150000014     113.72
P150000017      26.10
P150000020      58.47
P150000022      26.10
P150000023       9.10
P150000024      25.12
P150000029      83.93
P150000033      35.83
P150000053      18.75
P150000058      25.33
P150000086      98.61
P150000088      14.54
P150000092      16.56
P150000250     184.52
P150000251      96.99
P150000277      36.50
P150000379      37.65
P150000638      24.14
P150000659       0.54
P150000692      35.11
P150000702      66.07
P150000703      49.78
P150000706      18.09
P150000711      14.65
               ...
P150067301      23.77
P150067302      82.28
P150067303      29.60
P150067305      17.96
P150067306      42.71
P150067307      17.42
P150067308     578.03
P150067309      16.53
P150067310     214.96
P150067311    1106.32
P150067312      17.52
P150067315      57.92
P150067316       7.82
P150067319      63.69
P150067321     524.45
P150067322      53.92
P150067323      32.31
P150067324      57.23
P150067325      42.47
P150067326      74.46
P150067327       8.07
P150067328     125.77
P150067329     838.20
P150067330      47.29
P150067331      44.62
P150067334      85.46
P150067335      38.04
P150067336       3.77
P150067337       2.17
P150067338      15.54
Name: ONAIR_MINS, Length: 8057, dtype: float64

In [48]:
## apply
min_sums.groupby(level=0).apply(lambda x: x / x.sum())

PRODUCT_NBR  ONAIR_DATE
P150000002   2015-01-05    0.192126
             2015-01-16    0.115895
             2015-02-07    0.114863
             2015-03-05    0.209525
             2015-03-23    0.114568
             2015-03-28    0.253023
P150000004   2015-02-09    0.360200
             2015-02-12    0.180934
             2015-03-01    0.458866
P150000006   2015-01-02    0.192719
             2015-02-16    0.140097
             2015-03-11    0.402864
             2015-03-23    0.264320
P150000008   2015-01-10    0.301110
             2015-01-22    0.136919
             2015-01-26    0.139740
             2015-01-27    0.139740
             2015-02-06    0.282490
P150000009   2015-01-01    0.047338
             2015-01-09    0.038147
             2015-01-10    0.042391
             2015-01-11    0.021099
             2015-01-21    0.095889
             2015-02-03    0.034316
             2015-02-05    0.033515
             2015-02-10    0.018116
             2015-02-12    0.023524
             2015-02-13    0.063781
             2015-02-17    0.036377
             2015-02-18    0.034873
                             ...
P150067328   2015-02-14    0.185418
             2015-02-19    0.178262
             2015-02-22    0.164030
             2015-02-26    0.060428
             2015-02-28    0.103761
             2015-03-01    0.054624
             2015-03-03    0.067107
             2015-03-08    0.005725
             2015-03-10    0.062177
             2015-03-21    0.118470
P150067329   2015-01-06    0.072775
             2015-01-15    0.038332
             2015-01-16    0.038320
             2015-03-29    0.850573
P150067330   2015-01-10    0.441954
             2015-01-13    0.327342
             2015-01-15    0.230704
P150067331   2015-01-06    0.326759
             2015-01-09    0.326087
             2015-01-27    0.347154
P150067334   2015-01-10    0.305406
             2015-01-28    0.338170
             2015-02-03    0.177627
             2015-02-21    0.178797
P150067335   2015-03-15    1.000000
P150067336   2015-02-11    0.928382
             2015-02-12    0.071618
P150067337   2015-03-15    0.732719
             2015-03-16    0.267281
P150067338   2015-03-04    1.000000
Name: ONAIR_MINS, Length: 16520, dtype: float64

In [49]:
## reset index
min_sums.reset_index()

      PRODUCT_NBR  ONAIR_DATE  ONAIR_MINS
0      P150000002  2015-01-05       13.03
1      P150000002  2015-01-16        7.86
2      P150000002  2015-02-07        7.79
3      P150000002  2015-03-05       14.21
4      P150000002  2015-03-23        7.77
5      P150000002  2015-03-28       17.16
6      P150000004  2015-02-09       12.96
7      P150000004  2015-02-12        6.51
8      P150000004  2015-03-01       16.51
9      P150000006  2015-01-02       11.17
10     P150000006  2015-02-16        8.12
11     P150000006  2015-03-11       23.35
12     P150000006  2015-03-23       15.32
13     P150000008  2015-01-10       16.01
14     P150000008  2015-01-22        7.28
15     P150000008  2015-01-26        7.43
16     P150000008  2015-01-27        7.43
17     P150000008  2015-02-06       15.02
18     P150000009  2015-01-01       19.52
19     P150000009  2015-01-09       15.73
20     P150000009  2015-01-10       17.48
21     P150000009  2015-01-11        8.70
22     P150000009  2015-01-21       39.54
23     P150000009  2015-02-03       14.15
24     P150000009  2015-02-05       13.82
25     P150000009  2015-02-10        7.47
26     P150000009  2015-02-12        9.70
27     P150000009  2015-02-13       26.30
28     P150000009  2015-02-17       15.00
29     P150000009  2015-02-18       14.38
...           ...         ...         ...
16490  P150067328  2015-02-14       23.32
16491  P150067328  2015-02-19       22.42
16492  P150067328  2015-02-22       20.63
16493  P150067328  2015-02-26        7.60
16494  P150067328  2015-02-28       13.05
16495  P150067328  2015-03-01        6.87
16496  P150067328  2015-03-03        8.44
16497  P150067328  2015-03-08        0.72
16498  P150067328  2015-03-10        7.82
16499  P150067328  2015-03-21       14.90
16500  P150067329  2015-01-06       61.00
16501  P150067329  2015-01-15       32.13
16502  P150067329  2015-01-16       32.12
16503  P150067329  2015-03-29      712.95
16504  P150067330  2015-01-10       20.90
16505  P150067330  2015-01-13       15.48
16506  P150067330  2015-01-15       10.91
16507  P150067331  2015-01-06       14.58
16508  P150067331  2015-01-09       14.55
16509  P150067331  2015-01-27       15.49
16510  P150067334  2015-01-10       26.10
16511  P150067334  2015-01-28       28.90
16512  P150067334  2015-02-03       15.18
16513  P150067334  2015-02-21       15.28
16514  P150067335  2015-03-15       38.04
16515  P150067336  2015-02-11        3.50
16516  P150067336  2015-02-12        0.27
16517  P150067337  2015-03-15        1.59
16518  P150067337  2015-03-16        0.58
16519  P150067338  2015-03-04       15.54

[16520 rows x 3 columns]

In [50]:
## pivoting

pvt = pd.pivot_table(
    air,
    columns = "ONAIR_DATE",
    index="PRODUCT_NBR",
    values="ONAIR_MINS",
    aggfunc=numpy.sum
)

In [52]:
pvt.head(10)

ONAIR_DATE,2015-01-01,2015-01-02,2015-01-03,2015-01-04,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-10,...,2015-03-22,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-28,2015-03-29,2015-03-30,2015-03-31
PRODUCT_NBR,,,,,,,,,,,,,,,,,,,,,
P150000002,NaN,NaN,NaN,NaN,13.03,NaN,NaN,NaN,NaN,NaN,...,NaN,7.77,NaN,NaN,NaN,NaN,17.16,NaN,NaN,NaN
P150000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000006,NaN,11.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000009,19.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.73,17.48,...,NaN,NaN,NaN,NaN,NaN,NaN,30.73,4.35,NaN,17.07
P150000010,12.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P150000022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
pvtz = pvt.fillna(0)
pvtz.head(10)

ONAIR_DATE,2015-01-01,2015-01-02,2015-01-03,2015-01-04,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-10,...,2015-03-22,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-28,2015-03-29,2015-03-30,2015-03-31
PRODUCT_NBR,,,,,,,,,,,,,,,,,,,,,
P150000002,0.00,0.00,0.0,0.0,13.03,0.0,0.0,0.0,0.00,0.00,...,0.0,7.77,0.0,0.0,0.0,0.0,17.16,0.00,0.0,0.00
P150000004,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000006,0.00,11.17,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,15.32,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000008,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,16.01,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000009,19.52,0.00,0.0,0.0,0.00,0.0,0.0,0.0,15.73,17.48,...,0.0,0.00,0.0,0.0,0.0,0.0,30.73,4.35,0.0,17.07
P150000010,12.44,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000014,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000017,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000020,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00
P150000022,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00

In [55]:
pd.pivot_table(
    air, 
    columns="ONAIR_DATE",
    index="PRODUCT_NBR",
    values="ONAIR_MINS",
    aggfunc=  np.sum,
    fill_value=0
)

ONAIR_DATE,2015-01-01,2015-01-02,2015-01-03,2015-01-04,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-10,...,2015-03-22,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-28,2015-03-29,2015-03-30,2015-03-31
PRODUCT_NBR,,,,,,,,,,,,,,,,,,,,,
P150000002,0.00,0.00,0.0,0.0,13.03,0.00,0.00,0.0,0.00,0.00,...,0.00,7.77,0.00,0.00,0.00,0.00,17.16,0.00,0.0,0.00
P150000004,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000006,0.00,11.17,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,15.32,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000008,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,16.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000009,19.52,0.00,0.0,0.0,0.00,0.00,0.00,0.0,15.73,17.48,...,0.00,0.00,0.00,0.00,0.00,0.00,30.73,4.35,0.0,17.07
P150000010,12.44,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000014,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000017,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000020,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000022,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000023,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000024,0.00,0.00,0.0,0.0,0.00,13.48,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000029,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000033,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,15.28,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000053,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,5.02,0.00,0.00,0.00,0.0,0.00
P150000058,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000086,0.00,0.00,0.0,0.0,1.30,0.67,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000088,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000092,0.00,0.00,0.0,0.0,0.00,0.00,9.12,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000250,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,39.91,19.35,0.00,0.00,0.00,0.00,0.0,0.00
P150000251,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000277,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,9.59,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000379,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,10.03,0.00,0.00,0.0,0.00
P150000638,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000659,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000692,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000702,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000703,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150000706,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,18.09,0.00,0.00,0.00,0.0,0.00
P150000711,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P150067301,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,7.92,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067302,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067303,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067305,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067306,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067307,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067308,27.87,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067309,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067310,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067311,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067312,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067315,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067316,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067319,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067321,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,7.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067322,0.00,0.00,0.0,0.0,0.00,16.69,0.00,0.0,16.69,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067323,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067324,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,7.43,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067325,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067326,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067327,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067328,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067329,0.00,0.00,0.0,0.0,0.00,61.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,712.95,0.0,0.00
P150067330,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,20.90,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067331,0.00,0.00,0.0,0.0,0.00,14.58,0.00,0.0,14.55,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067334,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,26.10,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067335,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067336,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067337,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
P150067338,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00